{% extends "base.html" %}
{% load url from future %}

{% block title %}Password Change{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span6">
        <form method="post" action="" class="form-horizontal nomargin">
          <fieldset>
            <legend>Password Change</legend>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            {% for field in form %}
            <div class="control-group{% if field.errors %} error{% endif %}">
              <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
              <div class="controls">
                {{ field }}
                {% if field.errors %}
                <span class="help-inline">{{ field.errors.0 }}</span>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </fieldset>
          <input type="submit" value="Change password" class="btn large primary">
        </form>
      </div>
    </div>
{% endblock %}
