{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <form method="post" action="" class="form-horizontal">
              <fieldset>
                <legend>Register</legend>
                {{ csrf() }}
                <input type="hidden" name="next" value="{{ next }}" />
                {% for field in form %}
                <div class="form-group{% if form.errors %} error{% endif %}">
                  <label for="{{ field.auto_id }}">{{ field.label }}</label>
                  {{ field|safe }}
                </div>
                {% endfor %}
                <div class="form-actions">
                  <input type="submit" value="Register" class="btn btn-primary">
                </div>
              </fieldset>
            </form>
          </div>
        </div>
{% endblock %}
