body {
    margin-top: 50px;
}
.navbar-text {
    color: #EFEFEF;
}

.pos { color: #009800; }
.neg { color: #FF0000; }

.c { text-align: center; }
.r { text-align: right; }

thead td.head {
    text-align: center;
    font-weight: bold;
}

tr.bold td { font-weight: bold; }

ul.children li {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 8px;
}

/* table alignment, urgh */
tr.c th,
tr.c td { text-align: center; }

tr.r th,
tr.r td { text-align: right; }

tr.r th.l,
tr.r td.l,
tr.c th.l,
tr.c td.l,
td.l { text-align: left; }

tr.l th.c,
tr.l td.c,
tr.r th.c,
tr.r td.c,
td.c { text-align: center; }

tr.l th.r,
tr.l td.r,
tr.c th.r,
tr.c td.r,
td.r { text-align: right; }

/* assets layout */
td.assets-location {
  font-size: 1.05em;
  font-weight: bold;
}
td.assets-img {
  padding: 0;
  margin: 0;
  width: 32px;
}
td.assets-item {
  width: 28em;
}
td.assets-type {
  width: 8em;
}
td.assets-quantity {
  width: 5em;
}
td.assets-value {
  width: 10em;
}
td.assets-total {
  font-weight: bold;
}

/* various font things */
.fixed { font-family:Menlo,Monaco,"Courier New",monospace;font-size:12px;color:#333333; }

.dot { border-bottom: 1px dotted; }
.large { font-size: 1.15em; }
.small { font-size: 0.85em; }
.smaller { font-size: 0.8em; }
.level5 { color: #4F4FAF; }
.black { color: #000000; }

.training-highlight {
  color: #4FAF00;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  padding: 0;
}

div.character-sp {
  text-align: right;
  margin-right: 0.8em;
  width: 6.5em;
}

.margin-half-top { margin-top: 0.5em; }
.margin-half-bot { margin-bottom: 0.5em; }

form.nomargin, input.nomargin, img.nomargin {
  margin: 0;
  padding: 0;
}
hr.nomargin {
  margin-top: 0px;
  margin-bottom: 6px;
}
i.nomargin {
  margin-right: -1px;
}

/* override bootstrap settings */
.navbar-inner {
  background-color: #1e2940;
  background-image: -moz-linear-gradient(top, #1e2940, #162038);
  background-image: -ms-linear-gradient(top, #1e2940, #162038);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e2940), to(#162038));
  background-image: -webkit-linear-gradient(top, #1e2940, #162038);
  background-image: -o-linear-gradient(top, #1e2940, #162038);
  background-image: linear-gradient(top, #1e2940, #162038);
}
.navbar .nav > li > a {
  color: #e8e8e8;
}
.navbar .nav .active > a,.navbar .nav .active > a:hover {
  background-color:#2C3853;
}
.table-condensed th, .table-condensed td {
  padding: 3px 4px;
}
.progress {
  background-image: -moz-linear-gradient(top, #cfcfcf, #dadada);
  background-image: -ms-linear-gradient(top, #cfcfcf, #dadada);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), to(#dadada));
  background-image: -webkit-linear-gradient(top, #cfcfcf, #dadada);
  background-image: -o-linear-gradient(top, #cfcfcf, #dadada);
  background-image: linear-gradient(top, #cfcfcf, #dadada);
}
.well-small {
  padding: 6px;
}
.well-small .progress {
  margin-bottom: 2px;
}
.progress .bar {
  text-shadow: 0 0 5px #000000;
}

/* tablesorter styles */
table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: #d7d7d9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
