/* spritemapper.output_css = ../static/css/sprite-icons-fugue-stars.css */
/* spritemapper.output_image = ../static/img/icons-fugue-stars.png */
/* close icon on modal windows */
.icons-close { background:url(fugue/cross.png); }
/* success for good things, failure for bad things */
.icons-success { background:url(fugue/tick.png); }
.icons-failure { background:url(fugue/cross.png); }
/* edit and delete icons */
.icons-edit { background:url(fugue/pencil.png); }
.icons-delete { background:url(fugue/bin.png); }
/* information, obviously */
.icons-information { background:url(fugue/information.png); }
/* expand/collapse/indent things */
.icons-expand { background:url(fugue/plus-circle.png); }
.icons-collapse { background:url(fugue/minus-circle.png); }
.icons-indent { background:url(fugue/arrow-000-medium.png); }
/* screenshot mode */
.icons-screenshot { background:url(fugue/picture.png); }
/* various notifications */
.icons-time-warning { background:url(fugue/alarm-clock--exclamation.png); }
.icons-api-warning { background:url(fugue/key.png); }
.icons-queue-empty { background:url(fugue/book--exclamation.png); }
.icons-queue-space { background:url(fugue/book.png); }
.icons-missing-implants { background:url(fugue/brain--exclamation.png); }
.icons-inadequate-clone { background:url(fugue/user-nude.png); }
/* character sheet skills */
.icons-skill-untrained { background:url(fugue/star-empty.png); }
.icons-skill-partial { background:url(fugue/star-half.png); }
.icons-skill-trained { background:url(fugue/star.png); }
.icons-skill-fives { background:url(fugue/heart.png); }
.icons-skill-training { background:url(fugue/flag-green.png); }
/* things */
.icons-player { background:url(fugue/user.png); }
.icons-other-player { background:url(fugue/user-thief.png); }
.icons-corporation { background:url(fugue/users.png); }
.icons-alliance { background:url(fugue/building.png); }
/* contracts */
.icons-contract-public { background:url(fugue/globe.png); }
.icons-contract-completed { background:url(fugue/tick.png); }
.icons-contract-inprogress { background:url(fugue/truck-box-label.png); }
.icons-contract-failed { background:url(fugue/cross.png); }
.icons-contract-outstanding { background:url(fugue/hourglass.png); }
.icons-contract-unknown { background:url(fugue/bug.png); }
/* visibility of things */
.icons-visibility-private { background:url(fugue/lock.png); }
.icons-visibility-public { background:url(fugue/eye.png); }
.icons-visibility-global { background:url(fugue/globe.png); }
/* skill plans */
.icons-skillplan-remap { background:url(fugue/puzzle.png); }
.icons-skillplan-injected { background:url(fugue/brain.png); }
.icons-skillplan-unowned { background:url(fugue/money.png); }
/* assets */
.icons-asset-locked { background:url(fugue/lock.png); }
.icons-asset-bpo { background:url(fugue/document.png); }
.icons-asset-bpc { background:url(fugue/document-copy.png); }
.icons-asset-eft { background:url(fugue/rocket-fly.png); }
/* account stuff */
.icons-account-purge { background:url(fugue/bomb.png); }
