.border-warn {
  border: 3px solid @warningText !important;
}
.border-error {
  border: 3px solid @errorText !important;
}
.border-success {
  border: 3px solid @successText !important;
}
.border-info {
  border: 3px solid @infoText !important;
}
