{% macro player(mine=False) -%}
<span class="fa fa-user{% if mine %} my-character{% endif %}"></span>
{%- endmacro %}

{% macro corporation() -%}
<span class="fa fa-group" rel="tooltip" title="Corporation"></span>
{%- endmacro %}

{% macro alliance() -%}
<span class="fa fa-hospital-o" rel="tooltip" title="Alliance"></span>
{%- endmacro %}

{% macro success_fail(success=True) -%}
<span class="fa fa-{% if success %}check pos{% else %}times neg{% endif %}"></span>
{%- endmacro %}

{% macro contract_status(status) -%}
{%- if status.startswith('Completed') -%}
<span class="fa fa-check pos"></span>
{%- elif status == 'InProgress' -%}
<span class="fa fa-truck"></span>
{%- elif status in ('Cancelled', 'Deleted', 'Failed', 'Rejected') -%}
<span class="fa fa-times neg"></span>
{%- elif status == 'Outstanding' -%}
<span class="fa fa-clock-o"></span>
{%- else -%}
<span class="fa fa-question-circle"></span>
{%- endif -%}
{%- endmacro %}

{% macro close_modal() -%}
<span class="fa fa-times neg"></span>
{%- endmacro %}