<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
	<style type="text/css">
		a {
			color: #0000FF;
		}
		td {
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 4px;
			padding-bottom: 4px;
		}
		tr th {
			background: #BFBFCF;
		}
		tr.odd td {
			background: #EFEFFF;
		}
		tr.even td {
			background: #DFDFEF;
		}
	</style>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
