{% extends "blueprints/base.html" %}

{% block title %}Rubber Ducky Space Industries: Blueprints{% endblock %}

{% block content %}
{% if object_list %}
	<table>
		<tr>
			<th>Owner</th>
			<th>Blueprint</th>
			<th>ME</th>
			<th>PE</th>
			<th>Time</th>
			<th>Cost</th>
		</tr>
	{% for bpi in object_list %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td>{{ bpi.character }}</td>
			<td><a href="{{ bpi.id }}">{{ bpi.blueprint }}</a></td>
			<td align="center">{{ bpi.material_level }}</td>
			<td align="center">{{ bpi.productivity_level }}</td>
			<td align="center">{{ bpi.nice_production_time }}</td>
			<td align="right">{{ bpi.calc_production_cost }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	<p>No blueprint instances are available.</p>
{% endif %}
{% endblock %}
