    <script type="text/javascript">
      // template provided variables
      var expected = $.parseJSON('{{ json_expected|safe }}');

      var data = {};
      data['char'] = { {% for char in values.chars %}{{ char.id }}: '{{ char.name }}',{% endfor %} };
      data['corp'] = { {% for corp in values.corps %}{{ corp.id }}: '{{ corp.name }}',{% endfor %} };
      data['corp'][-1] = '*ANY*';

      {%- if filters %}
      // add provided filters
      $('#filters').empty();
      {% for ft, fcfvs in filters.items() %}
      {% for fc, fv in fcfvs %}
      $('#filters').append(filter_build(expected, data, '{{ ft }}', '{{ fc }}', '{{ fv }}'));
      {% endfor %}
      {% else %}
      $('#filters').append(filter_build(expected));
      {% endfor %}
      {%- else %}
      $('#filters').append(filter_build(expected));
      {%- endif %}
      
      // bind filter events
      filter_bind();
    </script>
