    <script type="text/javascript">
      // template provided variables
      var expected = $.parseJSON('{{ json_expected|safe }}');

      var data = {};
      data['char'] = {};
      {% for char in values.chars %}data['char'][{{ char.id }}] = '{{ char.name }}';{% endfor %}
      data['corp'] = {};
      data['corp'][-1] = '*ANY*';
      {% for corp in values.corps %}data['corp'][{{ corp.id }}] = '{{ corp.name }}';{% endfor %}
      data['reftype'] = {};
      {% for reftype in values.reftypes %}data['reftype'][{{ reftype.id }}] = '{{ reftype.name }}';{% endfor %}

      // add provided filters
      $('#filters').empty();
      {% for ft, fcfvs in filters.items() %}
      {% for fc, fv in fcfvs %}
      $('#filters').append(filter_build(expected, data, '{{ ft }}', '{{ fc }}', '{{ fv }}'));
      {% endfor %}
      {% else %}
      $('#filters').append(filter_build(expected));
      {% endfor %}

      // add query string to pagination links
      var search = document.location.search;
      $('a').each(function() {
        var href = $(this).attr('href');
        if (href !== undefined && href.substr(0, 5) === '?page') {
          var params = parseQueryString();
          params.page = href.split(/=/)[1];
          console.log(params);
          $(this).attr('href', '?' + $.param(params));
        }
      });

      // hover thing for hover things
      $('.skill-hover').popover({ animation: false, trigger: 'hover' });

      // click event for add icon
      $('.icon-plus').on('click', function() {
        $('#filters').append(filter_build(expected));
      });

      // click event for delete icon
      $('#filters').on('click', '.icon-trash', function() {
        $(this).parent().remove();
      });

      // change event for filter-type selects
      $('#filters').on('change', '.filter-type', function () {
        var $ft = $(this);
        // clear any other select/input in this line
        $ft.siblings('select, input').remove();
        // add the comparison box
        $ft.parent().append(filter_build_comp(expected, $ft.val(), undefined));
        // add the value box
        var $fc = $ft.next();
        $ft.parent().append(filter_build_value(data, $ft.val(), $fc.val(), ''));
      });

      // bind aggregate button
      bind_aggregate_button();
    </script>
