body {
    margin-top: 60px;
}
.auth-text {
    color: #E0FFFF;
}

span.pos { color: #009800; }
span.neg { color: #FF0000; }

.c { text-align: center; }
.r { text-align: right; }

thead td.head {
    text-align: center;
    font-weight: bold;
}

tr.bold td { font-weight: bold; }

/* table alignment, urgh */
tr.c th,
tr.c td { text-align: center; }

tr.r th,
tr.r td { text-align: right; }

tr.r th.l,
tr.r td.l,
tr.c th.l,
tr.c td.l,
td.l { text-align: left; }

tr.l th.c,
tr.l td.c,
tr.r th.c,
tr.r td.c,
td.c { text-align: center; }

tr.l th.r,
tr.l td.r,
tr.c th.r,
tr.c td.r,
td.r { text-align: right; }

.dot { border-bottom: 1px dotted; }
.large { font-size: 1.1em; }
.small { font-size: 0.9em; }

/* override bootstrap settings */
.table-condensed th, .table-condensed td {
  padding: 3px 4px;
}
.progress {
  background-image: -moz-linear-gradient(top, #cfcfcf, #dadada);
  background-image: -ms-linear-gradient(top, #cfcfcf, #dadada);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cfcfcf), to(#dadada));
  background-image: -webkit-linear-gradient(top, #cfcfcf, #dadada);
  background-image: -o-linear-gradient(top, #cfcfcf, #dadada);
  background-image: linear-gradient(top, #cfcfcf, #dadada);
}
.well-small {
  padding: 10px;
}
.well-small .progress {
  margin-bottom: 2px;
}
hr {
  margin-top: 0px;
}
.progress .bar {
  text-shadow: 0 0 5px #000000;
}

/* tablesorter styles */
table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: #d7d7d9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
