body {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	color: #0000FF;
}

table {
	empty-cells: hide;
	border-spacing: 1px;
}
td {
	padding: 4px 6px 4px 6px;
}

th, tfoot tr td {
	background: #BFBFCF;
	padding: 4px 6px 4px 6px;
}
td.head {
	text-align: center;
	font-weight: bold;
	background: #BFBFCF;
	padding: 4px 6px 4px 6px;
}
tr.odd td {
	background: #EFEFFF;
}
tr.even td {
	background: #DFDFEF;
}
tr.odd td.alt {
	background: #DFDFEF;
}
tr.even td.alt {
	background: #CECEDE;
}
tr.odd td.B {
	background: #EFAFAF;
}
tr.even td.B {
	background: #DF9F9F;
}
tr.odd td.S {
	background: #8FEF8F;
}
tr.even td.S {
	background: #7FDF7F;
}

span.pos { color: #009800; }
span.neg { color: #FF0000; }

table.tablesorter thead tr .header {
	background-image: url(/thing_media/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(/thing_media/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(/thing_media/desc.gif);
}
