.background-error {
  background: lighten(@errorText, 45%);
}
.background-success {
  background: lighten(@successText, 55%);
}

.border-warn {
  border: 2px solid @warningText !important;
  hr {
    border-bottom: 1px solid @warningText !important;
  }
}
.border-error {
  border: 2px solid @errorText !important;
  hr {
    border-bottom: 1px solid @errorText !important;
  }
}
.border-success {
  border: 2px solid @successText !important;
  hr {
    border-bottom: 1px solid @successText !important;
  }
}
.border-info {
  border: 2px solid @infoText !important;
  hr {
    border-bottom: 1px solid @infoText !important;
  }
}

.progress {
    .bar {
        text-shadow:
            -1px -1px 1px black,
            -1px 1px 1px black,
            1px -1px 1px black,
            1px 1px 1px black;
    }
}
