{% extends "base.html" %}
{% import 'macros/icons.html' as icons %}

{% block extra_js %}
    <script type="text/javascript">
      $(document).ready(EVEthing.account.onload);
      var account_edit_url = '{{ url('thing.views.account_apikey_edit') }}',
          csrf = "{{ csrf() }}";
    </script>
{% endblock %}

{% block title %}My Account{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
          <h2>Account Management</h2>
          {%- if message %}
          <div class="alert alert-{{ message_type }}">
            <strong>{{ message_type|capitalize }}:</strong> {{ message }}
          </div>
          {%- endif %}

          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_settings" data-toggle="tab">Settings</a></li>
            <li><a href="#tab_home_page" data-toggle="tab">Home Page</a></li>
            <li><a href="#tab_characters" data-toggle="tab">Characters</a></li>
            <li><a href="#tab_apikeys" data-toggle="tab">API Keys</a></li>
            <li><a href="#tab_skillplans" data-toggle="tab">Skill Plans</a></li>
            {%- if not disable_password %}
            <li><a href="#tab_password" data-toggle="tab">Change Password</a></li>
            {%- endif %}
          </ul>

          <div class="tab-content row panel panel-default">
            {# settings: content -#}
            <div class="tab-pane active panel-body" id="tab_settings">
              {% include "thing/account/settings.html" %}
            </div>

            {# settings: content -#}
            <div class="tab-pane panel-body" id="tab_home_page">
              {% include "thing/account/home_page.html" %}
            </div>

            {# settings: content -#}
            <div class="tab-pane panel-body" id="tab_characters">
              {% include "thing/account/characters.html" %}
            </div>

            {# apikeys: content -#}
            <div class="tab-pane panel-body" id="tab_apikeys">
              {% include "thing/account/api_keys.html" %}
            </div>

            {# skillplan: content -#}
            <div class="tab-pane panel-body" id="tab_skillplans">
              {% include "thing/account/skill_plans.html" %}
            </div>

            {% if not disable_password %}{# password: content -#}
            <div class="tab-pane panel-body" id="tab_password">
              {% include "thing/account/change_passwords.html" %}
            </div>
            {%- endif %}

            {# apikeys: purge modal -#}
            <div class="modal fade" id="purge-apikey-modal" tabindex="-1" role="dialog" aria-labelledby="purge-apikey-modal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="{{ url('thing.views.account_apikey_purge') }}" method="POST" class="form-inline">
                    {{ csrf() }}
                    <input type="hidden" name="apikey_id" value="a" id="purge-keyid-input">
                    <div class="modal-header">
                      <a class="close" data-dismiss="modal">{{ icons.close_modal() }}</a>
                      <h3 class="modal-title">Purge Confirmation</h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        Are you sure you wish to purge API key #<strong><span id="purge-keyid"></span></strong> ("<span id="purge-keyname"></span>")?
                        This will delete <strong>ALL</strong> data related to the characters referenced by this API key!
                      </p>
                      <div class="alert alert-danger">
                        <strong>WARNING</strong>: this is permanent, the only way to recover historical data is from a database backup!
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal">No</button>
                      <button type="submit" class="btn btn-success">Yes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            {# apikeys: delete modal -#}
            <div class="modal fade" id="delete-apikey-modal" tabindex="-1" role="dialog" aria-labelledby="delete-apikey-modal" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="{{ url('thing.views.account_apikey_delete') }}" method="POST" class="form-inline">
                    {{ csrf() }}
                    <input type="hidden" name="apikey_id" value="a" id="delete-keyid-input">
                    <div class="modal-header">
                      <a class="close" data-dismiss="modal">{{ icons.close_modal() }}</a>
                      <h3 class="modal-title">Delete Confirmation</h3>
                    </div>
                    <div class="modal-body">
                      <p>
                        Are you sure you wish to delete API key #<strong><span id="delete-keyid"></span></strong> ("<span id="delete-keyname"></span>")?
                        This will unlink the associated characters from your account and any related data will no longer be visible to you!
                      </p>
                      <p>
                        Note: you can regain access to the data later by re-adding this API key.
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal">No</button>
                      <button type="submit" class="btn btn-success">Yes</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            {# skillplan: edit modal -#}
            <div class="modal fade" id="edit-skillplan-modal" tabindex="-1" role="dialog" aria-labelledby="edit-skillplan-modal" aria-hidden="true">>
              <div class="modal-dialog">
                <div class="modal-content">
                  <form action="{{ url('thing.views.account_skillplan_edit') }}" method="POST" class="form-horizontal">
                    {{ csrf() }}
                    <input type="hidden" name="skillplan_id" value="" id="edit-skillplan-id">
                    <div class="modal-header">
                      <a class="close" data-dismiss="modal">{{ icons.close_modal() }}</a>
                      <h3 class="modal-title">Edit Skill Plan</h3>
                    </div>
                    <div class="modal-body">
                      <fieldset>
                        <div class="form-group">
                          <label class="control-label col-sm-3" for="blueprint">Name</label>
                          <div class="col-sm-9">
                            <input type="text" id="edit-skillplan-name" class="form-control" name="name" value="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3" for="ml">Visibility</label>
                          <div class="col-sm-9">
                            <select id="edit-skillplan-visibility" class="form-control" name="visibility">
                              {%- for value, text in visibilities %}
                              <option value="{{ value }}">{{ text }}</option>
                              {%- endfor %}
                            </select>
                            <p class="help-block">Private: visibile only to your user account.</p>
                            <p class="help-block">Public: visibile to anyone on <u>your</u> character pages.</p>
                            <p class="help-block">Global: visibile to anyone on any character page.</p>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            {# skillplan: delete modal -#}
            <div class="modal fade" id="delete-skillplan-modal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                  </div>
                  <form action="{{ url('thing.views.account_skillplan_delete') }}" method="POST" class="form-inline">
                    {{ csrf() }}
                    <input type="hidden" name="skillplan_id" value="" id="delete-skillplan-id">
                    <div class="modal-body">
                      <p>
                        Are you sure you wish to delete the skill plan named "<span id="delete-skillplan-name"></span>"?
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-danger" data-dismiss="modal">No</button>
                      <button type="submit" class="btn btn-success">Yes</button>
                    </div>
                 </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
