{% extends "base.html" %}

{% block extra_head %}
      <script type="text/javascript">
        $(document).ready(function() {
          // Javascript to enable link to tab
          var prefix = 'tab_';
          var hash = document.location.hash;
          if (hash) {
            $('.nav-tabs a[href=' + hash.replace(prefix, "") + ']').tab('show');
          }
          
          // Change hash for page-reload
          $('.nav-tabs a').on('shown', function (e) {
            window.location.hash = e.target.hash.replace('#', '#' + prefix);
          })
        });
      </script>
{% endblock %}

{% block title %}Account Management{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span10">
          <h2>Account Management</h2>
          
          {% if message -%}
          <div class="alert alert-{{ message_type }}">
            <strong>{{ message_type|capfirst }}:</strong> {{ message }}
          </div>
          {%- endif %}

          <ul class="nav nav-tabs">
            <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
            <li><a href="#skillplans" data-toggle="tab">Skill Plans</a></li>
            <li><a href="#password" data-toggle="tab">Change Password</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="settings">
              <form action="{% url thing.views.account_settings %}" method="POST" class="form-horizontal">
                <fieldset>
                  {% csrf_token %}
                  <div class="control-group">
                    <label class="control-label" for="theme">Theme</label>
                    <div class="controls">
                      <select name="theme">
                        {% for value, display in themes %}
                        <option value="{{ value }}"{% if profile.theme == value %} selected{% endif %}>{{ display }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <legend>Home page</legend>
                  <div class="control-group">
                    <label class="control-label" for="home_chars_per_row">Characters per row</label>
                    <div class="controls">
                      <select name="home_chars_per_row">
                        {% for n in home_chars_per_row %}
                        <option value="{{ n }}"{% if profile.home_chars_per_row == n %} selected{% endif %}>{{ n }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="home_sort_order">Sort order</label>
                    <div class="controls">
                      <select name="home_sort_order">
                        {% for value, name in home_sort_orders %}
                        <option value="{{ value }}"{% if profile.home_sort_order == value %} selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="home_sort_descending">Sort descending?</label>
                    <div class="controls">
                      <input type="checkbox" name="home_sort_descending"{% if profile.home_sort_descending %} checked{% endif %}>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </fieldset>
              </form>
            </div>

            <div class="tab-pane" id="skillplans">
              <table class="table table-striped table-bordered table-condensed">
                <thead>
                  <tr>
                    <th>Plan Name</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for skillplan in skillplans -%}
                  <tr>
                    <td>{{ skillplan.name }}</td>
                    <td>
                      <i class="icon-pencil"></i>
                      <i class="icon-trash"></i>
                    </td>
                  </tr>
                  {%- endfor %}
                </tbody>
              </table>
            </div>

            <div class="tab-pane" id="password">
              <form action="{% url thing.views.account_change_password %}" method="POST" class="form-horizontal">
                <fieldset>
                  {% csrf_token %}
                  <div class="control-group">
                    <label class="control-label" for="old_password">Old password</label>
                    <div class="controls">
                      <input type="password" name="old_password">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="new_password">New password</label>
                    <div class="controls">
                      <input type="password" name="new_password">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="confirm_password">Confirm password</label>
                    <div class="controls">
                      <input type="password" name="confirm_password">
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Change password</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
