{% extends "base.html" %}
{% load thing_extras %}

{% block title %}API Keys{% endblock %}

{% block extra_head %}
<script type="text/javascript">
  var savedTD = null;
  var savedHTML = null;

  $(document).ready(function() {
    $('#key-table').on('click', 'a.delete-button', function(event) {
      var keyid = $('td:nth-child(2)', $(this).parents('tr')).text();
      var keyname = $('td:nth-child(4)', $(this).parents('tr')).text();
      $('#delete-keyid-input').val(keyid);
      $('#keyid').text(keyid);
      $('#keyname').text(keyname);
    });

    $('#key-table').on('click', 'a.edit-button', function(event) {
      var keyid = $('td:nth-child(2)', $(this).parents('tr')).text();
      var keyname = $('td:nth-child(4)', $(this).parents('tr')).text();

      if (savedTD) {
        $(savedTD).html(savedHTML);
        savedTD = null;
        savedHTML = null;
      }
      savedTD = $('td:nth-child(4)', $(this).parents('tr'));
      savedHTML = savedTD.html();

      var html = [];
      html.push('<form action="{% url thing.views.apikeys_edit %}" method="POST" class="form-inline nomargin">');
      html.push("{% csrf_token %}");
      html.push('<input type="hidden" class="nomargin" name="apikey_id" value="' + keyid + '">')
      html.push('<input type="text" class="edit-name nomargin input-medium" name="name" id="magic_keyname" value="' + $.trim(keyname) + '">');
      html.push('</form>');

      $('td:nth-child(4)', $(this).parents('tr')).html(html.join(''));
      $('#magic_keyname').focus();
    });
    
    $('#key-table').on('focusout', 'input.edit-name', function(event) {
      if (savedTD) {
        $(savedTD).html(savedHTML);
        savedTD = null;
        savedHTML = null;
      }
    });
  });
</script>
{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span1">&nbsp;</div>
        <div class="span10">
          <h2>API Keys</h2>
          <table class="table table-striped table-bordered table-condensed" id="key-table">
            <thead>
              <tr class="c">
                <th>Valid</th>
                <th>KeyID</th>
                <th>vCode</th>
                <th>Name</th>
                <th>Type</th>
                <th>Mask</th>
                <th>Expires</th>
                <th>Account Time</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for apikey in apikeys %}
              <tr>
                <td class="c"><i class="icon-{{ apikey.valid|yesno:"ok,remove" }}"></i></td>
                <td class="r">{% if sanitise %}123456{% else %}{{ apikey.id }}{% endif %}</td>
                <td class="fixed c">{% if sanitise %}ABcd****************wxYZ{% else %}{{ apikey.get_masked_vcode }}{% endif %}</td>
                <td>
                  {% spaceless %}
                  {% if sanitise %}
                  apikey.name
                  {% else %}
                  {{ apikey.name }}
                  <a href="#" class="edit-button"><i class="pull-right icon-pencil"></i></a>
                  {% endif %}
                  {% endspaceless %}
                </td>
                <td>{{ apikey.key_type }}</td>
                <td>{{ apikey.access_mask }}</td>
                <td>{{ apikey.expires|default_if_none:"Never" }}</td>
                <td>
                  {% spaceless %}
                  {% if apikey.valid and apikey.key_type == 'Account' %}
                  {% with apikey.get_remaining_time as remaining %}
                  {{ remaining|duration }}
                  {% if remaining < 604800 %}<i class="pull-right icon-warning-sign"></i>{% endif %}
                  {% endwith %}
                  {% endif %}
                  {% endspaceless %}
                </td>
                <td class="c">
                  {% spaceless %}
                  {% if apikey.valid %}
                  <a class="delete-button" data-toggle="modal" href="#delete-modal"><i class="icon-trash"></i></a>
                  {% endif %}
                  {% endspaceless %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <form action="{% url thing.views.apikeys_add %}" method="POST" class="form-inline">
            {% csrf_token %}
            <input type="text" name="name" class="input-medium" placeholder="Name">
            <input type="text" name="keyid" class="input-small" placeholder="KeyID">
            <input type="text" name="vcode" class="input-xlarge" placeholder="vCode">
            <button type="submit" class="btn"><i class="icon-plus"></i> Add Key</button>
          </form>

          {% if message %}
          <div class="alert alert-{{ message_type }}">
            <strong>{{ message_type|capfirst }}:</strong> {{ message }}
          </div>
          {% endif %}

          <div class="modal hide" id="delete-modal">
            <form action="{% url thing.views.apikeys_delete %}" method="POST" class="form-inline">
              {% csrf_token %}
              <input type="hidden" name="keyid" value="a" id="delete-keyid-input">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Delete Confirmation</h3>
              </div>
              <div class="modal-body">
                <p>
                  Are you sure you wish to delete API key <strong><span id="keyid"></span></strong> (<span id="keyname"></span>)?
                  This will unlink the associated characters from your account and any related data will no longer be visible to you!
                </p>
                <p>Note: you can regain access to the data later by re-adding this API key.</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal"><i class="icon-remove icon-white"></i> No</button>
                <button type="submit" class="btn btn-success"><i class="icon-ok icon-white"></i> Yes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}
