{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Blueprints{% endblock %}

{% block extrahead %}
	<script type="text/javascript">
	$(document).ready(function() {
		$("#blueprints tbody tr.hiding").hide();
		$("#blueprints tbody tr:not(.hiding) td:nth-child(2) a").click(function(){
			$(this).parent().parent().next("tr").toggle();
		});
	});
	</script>
{% endblock %}

{% block nav-blueprints %}<strong class="nav-active">Blueprints</strong>{% endblock %}

{% block content %}
{% if bpis %}
	<form action="/blueprints/" method="GET">
	<table>
		<tr>
			<td>Runs :</td>
			<td><input type="text" name="runs" value="{{ runs }}"></td>
			<td><input type="submit" value="Go"></td>
		</tr>
	</table>
	</form>
	
	<form action="/bpcalc/" method="GET">
	<table id="blueprints">
		<thead>
			<tr>
				<td colspan="8"></td>
				<td colspan="2" class="head">Buy</td>
				<td colspan="2" class="head">Sell</td>
				<td colspan="2"></td>
			</tr>
			<tr>
				<th>Owner</th>
				<th>Blueprint</th>
				<th>Type</th>
				<th>ML</th>
				<th>PL</th>
				<th>#</th>
				<th>Time</th>
				<th>Market</th>
				<th>Make</th>
				<th>Profit</th>
				<th>Make</th>
				<th>Profit</th>
				<th>Links</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for bpi in bpis %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>{{ bpi.character }}</td>
				<td><a href="#">{{ bpi.blueprint.item }}</a></td>
				<td>{{ bpi.type }}</td>
				<td align="center">{{ bpi.material_level }}</td>
				<td align="center">{{ bpi.productivity_level }}</td>
				<td align="right">{{ bpi.count }}</td>
				<td align="right">{{ bpi.production_time|duration }}</td>
				<td align="right">{{ bpi.market_price|humanize }}</td>
				<td align="right">{{ bpi.unit_cost_buy|humanize }}</td>
				<td align="right"{{ bpi.upb_class|safe }}>{{ bpi.unit_profit_buy|humanize }}</td>
				<td align="right">{{ bpi.unit_cost_sell|humanize }}</td>
				<td align="right"{{ bpi.ups_class|safe }}>{{ bpi.unit_profit_sell|humanize }}</td>
				<td align="center"><a href="http://www.eve-central.com/home/quicklook.html?typeid={{ bpi.blueprint.item.id }}">EC</a></td>
				<td><input type="checkbox" name="bpi{{ bpi.id }}" value="1" /></td>
			</tr>
			<tr class="hiding">
				<td></td>
				<td colspan="13">
					<table>
						{% for item in bpi.components %}
						<tr class="{% cycle 'odd' 'even' %}">
							<td class="alt">{{ item.0 }}</td>
							<td class="alt" align="right">{{ item.1|commas }}</td>
						</tr>
						{% endfor %}
					</table>
				</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="14" align="right">
					Days: <input type="text" name="days" value="7" size="2" />
					<input type="submit" value="Calc"></td>
				</td>
			</tr>
		</tfoot>
	</table>
{% else %}
	<p>No blueprint instances are available.</p>
{% endif %}
{% endblock %}
