{% extends "base.html" %}

{% block title %}BPCalc{% endblock %}

{% block extra_js %}
    <script type="text/javascript">$(document).ready(EVEthing.bpcalc.onload);</script>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-sm-12">
          <h2>Building</h2>
          <p>
            <form class="form-inline">
            <a href="#" onclick="EVEthing.bpcalc.filter_profit();">filter profit &lt;</a> <input id="profit" type="text" value="5" class="form-control">
            <span class="divider">/</span>
            <a href="#" onclick="EVEthing.bpcalc.filter_movement();">filter movement ></a> <input id="movement" type="text" value="50" class="form-control">
            <span class="divider">/</span>
            <a href="#" onclick="EVEthing.bpcalc.filter_slots();">limit slots to</a> <input id="slots" type="text" value="50" class="form-control">
            <span class="divider">/</span>
            <a href="#" onclick="EVEthing.bpcalc.filter_checked();">filter checked</a>
            </form>
          </p>
          <table id="build-table" class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <td colspan="2"></td>
                <td colspan="2" class="head">Total m<sup>3</sup></td>
                <td colspan="3" class="head">From Buys</td>
                <td colspan="3" class="head">From Sells</td>
                <td colspan="3" class="head">Selling</td>
                <td colspan="2" class="head">Volume</td>
                <td></td>
              </tr>
              <tr class="c">
                <th class="l">Name</th>
                <th>Runs</th>
                <th>Input</th>
                <th>Output</th>
                <th>Build</th>
                <th>Profit</th>
                <th>P%</th>
                <th>Build</th>
                <th>Profit</th>
                <th >P%</th>
                <th>Built</th>
                <th>Sell</th>
                <th>Total</th>
                <th>{{ days }} day(s)</th>
                <th>%</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for bpi in bpis %}
              <tr class="r" data_bpi="{{ bpi.id }}">
                <td class="l">{{ bpi.blueprint.item }}</td>
                <td class="bpc-small">{{ bpi.z_runs|commas }}</td>
                <td class="bpc-medium">{{ bpi.z_input_m3|humanize }}</td>
                <td class="bpc-medium">{{ bpi.z_output_m3|humanize }}</td>
                <td class="bpc-medium">{{ bpi.z_buy_build|humanize }}</td>
                <td class="bpc-medium">{{ bpi.z_buy_profit|humanize|balance|safe }}</td>
                <td class="bpc-small{% if bpi.z_buy_profit_per < 7 %} neg{% endif %}">{{ bpi.z_buy_profit_per }}%</td>
                <td class="bpc-medium">{{ bpi.z_sell_build|humanize }}</td>
                <td class="bpc-medium">{{ bpi.z_sell_profit|humanize|balance|safe }}</td>
                <td class="bpc-small{% if bpi.z_sell_profit_per < 7 %} neg{% endif %}">{{ bpi.z_sell_profit_per }}%</td>
                <td class="bpc-small">{{ bpi.z_built|commas }}</td>
                <td class="bpc-medium">{{ bpi.blueprint.item.sell_price|humanize }}</td>
                <td class="bpc-medium">{{ bpi.z_total_sell|humanize }}</td>
                <td class="bpc-medium">{{ bpi.z_volume_week|humanize }}</td>
                <td class="bpc-small{% if bpi.z_volume_percent > 10 %} neg{% endif %}">{{ bpi.z_volume_percent }}%</td>
                <td class="bpc-tiny"><input type="checkbox"></td>
              </tr>
              {% else %}
              <tr>
                <td colspan="16">No valid blueprint IDs were provided.</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr class="r bold">
                <td colspan="2">{{ bpis|length }} slot(s) required</td>
                <td>{{ bpi_totals.input_m3|humanize }}</td>
                <td>{{ bpi_totals.output_m3|humanize }}</td>
                <td>{{ bpi_totals.buy_build|humanize }}</td>
                <td>{{ bpi_totals.buy_profit|humanize }}</td>
                <td{% if bpi_totals.buy_profit_per < 7 %} class="neg"{% endif %}>{{ bpi_totals.buy_profit_per }}%</td>
                <td>{{ bpi_totals.sell_build|humanize }}</td>
                <td>{{ bpi_totals.sell_profit|humanize }}</td>
                <td{% if bpi_totals.sell_profit_per < 7 %} class="neg"{% endif %}>{{ bpi_totals.sell_profit_per }}%</td>
                <td colspan="2"></td>
                <td>{{ bpi_totals.total_sell|humanize }}</td>
                <td colspan="3"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <h2>Components</h2>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr class="c">
                <th class="l">Name</th>
                <th>#</th>
                <th>Volume</th>
                <th colspan="2">From Buys</th>
                <th colspan="2">From Sells</th>
              </tr>
            </thead>
            <tbody>
              {% for component in components %}
              <tr class="r">
                <td class="l"><span class="dot" onclick="CCPEVE.showMarketDetails({{ component.item.id }});">{{ component.item.name }}</span></td>
                <td class="bpc-large">{{ component.amount|commas }}</td>
                <td class="bpc-large">{{ component.volume|commas }} m<sup>3</sup></td>
                <td class="bpc-medium">{{ component.item.buy_price|commas }}</td>
                <td class="bpc-large">{{ component.buy_total|commas }}</td>
                <td class="bpc-medium">{{ component.item.sell_price|commas }}</td>
                <td class="bpc-large">{{ component.sell_total|commas }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="7">No valid blueprint IDs were provided.</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr class="r bold">
                <td colspan="2"></td>
                <td>{{ comp_totals.volume|commas }} m<sup>3</sup></td>
                <td colspan="2">{{ comp_totals.buy_total|commas }}</td>
                <td colspan="2">{{ comp_totals.sell_total|commas }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
{% endblock %}
