{% extends "base.html" %}
{% load thing_extras %}

{% block title %}EVEthing: Character: {{ char.name }}{% endblock %}

{% block content %}
      <div class="row">
        <div class="thumbnail span3">
          <img src="http://image.eveonline.com/Character/{{ char.eve_character_id }}_256.jpg">
        </div>
        <div class="span9">
          <h3>{{ char.name }}</h3>
          <div class="row">
            <div class="span4">
              {% if config.show_wallet %}<p>Wallet: {{ char.wallet_balance|commas }} ISK</p>{% endif %}
              <ul class="unstyled">
                <li>Int: {{ char.int_attribute }} ({% if config.show_implants %}+{{ char.int_bonus }}{% else %}??{% endif %})</li>
                <li>Mem: {{ char.mem_attribute }} ({% if config.show_implants %}+{{ char.mem_bonus }}{% else %}??{% endif %})</li>
                <li>Per: {{ char.per_attribute }} ({% if config.show_implants %}+{{ char.per_bonus }}{% else %}??{% endif %})</li>
                <li>Wil: {{ char.wil_attribute }} ({% if config.show_implants %}+{{ char.wil_bonus }}{% else %}??{% endif %})</li>
                <li>Cha: {{ char.cha_attribute }} ({% if config.show_implants %}+{{ char.cha_bonus }}{% else %}??{% endif %})</li>
              </ul>
            </div>
            <div class="span3">
              <ul class="unstyled">
                <li>Total SP: {{ char.get_total_skill_points|commas }}</li>
                {% if config.show_clone %}
                <li>Clone limit: {{ char.clone_skill_points|commas }}</li>
                <li>{{ char.clone_name }}</li>
                {% endif %}
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="span8">
              {% for mg, css in skills.items %}
              <h4>{{ mg.name }}</h4>
              <table class="table table-striped table-bordered table-condensed">
                {% for cs in css %}
                <div>{{ cs.skill.item.name }} (Rank {{ cs.skill.rank }}) / Level: {{ cs.level }} / SP: {{ cs.points|commas }}</div>

                {% endfor %}
              </table>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

{% endblock %}
