{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Character: {{ char.name }}{% endblock %}

{% block extra_head %}
  <script type="text/javascript">
    $(document).ready(function() {
      settings_checkboxes();
      anon_toggle();
      
      $("#public-checkbox").change(settings_checkboxes);
      $("#anon-key").change(anon_toggle);
    });

    function settings_checkboxes() {
      var state = $("#public-checkbox").attr("checked");
      if (state == "checked") { $("input.disable-toggle").removeAttr("disabled"); }
      else { $("input.disable-toggle").attr("disabled", ""); }
    }

    function anon_toggle() {
      if ($("#anon-key").attr("checked") == "checked") {
        $("#anon-key-text").removeAttr("disabled");
        if ($("#anon-key-text").val() == "") {
          $("#anon-key-text").val(randString(16));
        }
      }
      else {
        $("#anon-key-text").attr("disabled", "");
        $("#anon-key-text").val("");
      }
    }
  </script>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="span3">
          <div class="thumbnail">
            <img src="http://image.eveonline.com/Character/{{ char.eve_character_id }}_256.jpg">
          </div>
          
          {% if not public %}
          <br>
          <div class="well">
            <h3>Settings</h3>
            <form action="{% url thing.views.character_settings char.name %}" method="POST" style="margin: 0">
              {% csrf_token %}
              <input type="hidden" name="character_id" value="{{ char.eve_character_id }}">
              <label class="checkbox">
                <input type="checkbox" id="public-checkbox" name="public"{% if char.config.is_public %} checked{% endif %}>
                Publicly visible
                <div class="pull-right">
                  <i class="icon icon-question-sign" rel="tooltip" title="Whether or not this character sheet is publicly accessible"></i>
                </div>
              </label>
              <br>
              <label class="checkbox">
                <input type="checkbox" class="disable-toggle" name="clone"{% if char.config.show_clone %} checked{% endif %}>
                Show clone information
                <div class="pull-right">
                  <i class="icon icon-question-sign" rel="tooltip" title="Show clone information on public sheet"></i>
                </div>
              </label>
              <label class="checkbox">
                <input type="checkbox" class="disable-toggle" name="implants"{% if char.config.show_implants %} checked{% endif %}>
                Show implants
                <div class="pull-right">
                  <i class="icon icon-question-sign" rel="tooltip" title="Show implant information on public sheet"></i>
                </div>
              </label>
              <label class="checkbox">
                <input type="checkbox" class="disable-toggle" name="queue"{% if char.config.show_skill_queue %} checked{% endif %}>
                Show skill queue
                <div class="pull-right">
                  <i class="icon icon-question-sign" rel="tooltip" title="Show skill queue on public sheet"></i>
                </div>
              </label>
              <label class="checkbox">
                <input type="checkbox" class="disable-toggle" name="wallet"{% if char.config.show_wallet %} checked{% endif %}>
                Show wallet balance
                <div class="pull-right">
                  <i class="icon icon-question-sign" rel="tooltip" title="Show wallet balance on public sheet"></i>
                </div>
              </label>
              <br>
              <label class="checkbox">
                <input type="checkbox" id="anon-key" class="disable-toggle" name="anon-key-toggle"{% if char.config.anon_key %} checked{% endif %}>
                Anon key
                <div class="pull-right">
                  <i class="icon icon-question-sign" rel="tooltip" title="Key to use for anonymous character sheet"></i>
                </div>
              </label>
              <label>
                <input type="text" id="anon-key-text" class="disable-toggle" name="anon-key" maxlength="16" value="{{ char.config.anon_key }}">
              </label>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
          {% endif %}
        </div>
        
        <div class="span9">
          <h2>{{ char.name }}</h2>
          <div class="row">
            <div class="span7">
              <div class="row">
                <div class="span4">
                  <p><strong>Corp:</strong> {{ char.corporation.name }}</p>
                  {% if not public or char.config.show_wallet %}<p><strong>Wallet:</strong> {{ char.wallet_balance|commas }} ISK</p>{% endif %}
                  <ul class="unstyled">
                    <li><strong>Total SP:</strong> {{ char.get_total_skill_points|commas }}</li>
                    {% if not public or char.config.show_clone %}
                    <li><strong>Clone limit:</strong> {{ char.clone_skill_points|commas }} ({{ char.get_short_clone_name }})</li>
                    {% endif %}
                  </ul>
                </div>
                <div class="span3 pull-right">
                  <table>
                    <tr class="r">
                      <td><strong>Int:</strong></td>
                      <td>{{ char.int_attribute }}</td>
                      <td>({% if not public or char.config.show_implants %}+{{ char.int_bonus }}{% else %}??{% endif %})</td>
                    </tr>
                    <tr class="r">
                      <td><strong>Mem:</strong></td>
                      <td>{{ char.mem_attribute }}</td>
                      <td>({% if not public or char.config.show_implants %}+{{ char.mem_bonus }}{% else %}??{% endif %})</td>
                    </tr>
                    <tr class="r">
                      <td><strong>Per:</strong></td>
                      <td>{{ char.per_attribute }}</td>
                      <td>({% if not public or char.config.show_implants %}+{{ char.per_bonus }}{% else %}??{% endif %})</td>
                    </tr>
                    <tr class="r">
                      <td><strong>Wil:</strong></td>
                      <td>{{ char.wil_attribute }}</td>
                      <td>({% if not public or char.config.show_implants %}+{{ char.wil_bonus }}{% else %}??{% endif %})</td>
                    </tr>
                    <tr class="r">
                      <td><strong>Cha:</strong></td>
                      <td>{{ char.cha_attribute }}</td>
                      <td>({% if not public or char.config.show_implants %}+{{ char.cha_bonus }}{% else %}??{% endif %})</td>
                    </tr>
                  </table>
                  <br>
                </div>
              </div>
            </div>
          </div>

          {% if not public or char.config.show_skill_queue %}{% if queue %}
          <div class="row">
            <div class="span9">
              <div class="well well-small alert-success black">
                <h3>Skill Queue</h3>
                <div>
                  {{ queue.0.skill.item.name }} {{ queue.0.get_roman_level }} (Rank {{ queue.0.skill.rank }}) --
                  {{ queue.0.get_remaining|duration }} remaining
                  <div class="pull-right">{{ queue.0.end_time|date:"Y-m-d H:i:s" }} UTC</div>
                  <div style="width: 100%">
                    <div class="progress margin-half-top">
                      <div class="bar" style="width: {{ queue.0.get_complete_percentage }}%">{{ queue.0.get_complete_percentage }}%</div>
                    </div>
                  </div>
                </div>
                {% if queue_rest %}
                <div class="margin-half-top">
                  {% for sq in queue_rest %}
                  <div>
                    {{ sq.skill.item.name }} {{ sq.get_roman_level }} (Rank {{ sq.skill.rank }})
                    <div class="pull-right">{{ sq.end_time|date:"Y-m-d H:i:s" }} UTC</div>
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endif %}{% endif %}

          {% autoescape off %}
          {% for mg, css in skills.items %}
          <div class="row">
            <div class="span9">
              <div class="well well-small">
                <h3>{{ mg.name }}</h3>
                {% for cs in css %}
                <div>
                  {% spaceless %}
                  {% if cs.z_training %}<span class="training-highlight"><i class="icon-play"></i>
                  {% else %}{% if cs.level == 5 %}<span class="level5">{% endif %}
                  {% endif %}
                  {{ cs.skill.item.name }} {{ cs.get_roman_level }}
                  {% if cs.z_training or cs.level == 5 %}</span>{% endif %}
                  {% endspaceless %}
                  
                  <div class="pull-right">
                    {% for icon in cs.z_icons %}<i class="icon-{{ icon }} nomargin"></i>{% endfor %}
                  </div>

                  <div class="pull-right character-sp">{{ cs.skill.get_sp_at_level|commas }} SP</div>
                  <div class="pull-right character-sp">{{ cs.points|commas }} / </div>
                  <div class="pull-right character-sp">Rank {{ cs.skill.rank }}</div>
                </div>
                {% endfor %}
                <div class="margin-half-top">
                  <i class="icon-chevron-right"></i>
                  <strong>{{ css|length }}</strong> skill{{ css|length|pluralize }} trained for <strong>{{ mg.z_total_sp|commas }}</strong> SP</div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endautoescape %}
        </div>
      </div>

{% endblock %}
