{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Anonymized Character: {{ char.config.anon_key }}{% endblock %}

{% block content %}
      <div class="row">
        <div class="span3">
          <div class="thumbnail">
            <img src="{{ STATIC_URL }}img/anonymous_character.jpg">
          </div>
        </div>
        
        <div class="span9">
          <div class="row">
            <div class="span7">
              <div class="row">
                <div class="span4">
                  <ul class="unstyled">
                    <li><strong>Total SP:</strong> {{ char.get_total_skill_points|commas }}</li>
                  </ul>
                </div>
                <div class="span3 pull-right">
                  <table>
                    <tr class="r">
                      <td><strong>Int:</strong></td>
                      <td>{{ char.int_attribute }}</td>
                      <td>(??)</td>
                    </tr>
                    <tr class="r">
                      <td><strong>Mem:</strong></td>
                      <td>{{ char.mem_attribute }}</td>
                      <td>(??)</td>
                    </tr>
                    <tr class="r">
                      <td><strong>Per:</strong></td>
                      <td>{{ char.per_attribute }}</td>
                      <td>(??)</td>
                    </tr>
                    <tr class="r">
                      <td><strong>Wil:</strong></td>
                      <td>{{ char.wil_attribute }}</td>
                      <td>(??)</td>
                    </tr>
                    <tr class="r">
                      <td><strong>Cha:</strong></td>
                      <td>{{ char.cha_attribute }}</td>
                      <td>(??)</td>
                    </tr>
                  </table>
                  <br>
                </div>
              </div>
            </div>
          </div>
          
          {% autoescape off %}
          {% for mg, css in skills.items %}
          <div class="row">
            <div class="span9">
              <div class="well well-small">
                <h3>{{ mg.name }}</h3>
                {% for cs in css %}
                <div>
                  {% spaceless %}
                  {% if cs.z_training %}<span class="training-highlight"><i class="icon-play"></i>
                  {% else %}{% if cs.level == 5 %}<span class="level5">{% endif %}
                  {% endif %}
                  {{ cs.skill.item.name }} {{ cs.get_roman_level }}
                  {% if cs.z_training or cs.level == 5 %}</span>{% endif %}
                  {% endspaceless %}
                  
                  <div class="pull-right">
                    {% for icon in cs.z_icons %}<i class="icon-{{ icon }} nomargin"></i>{% endfor %}
                  </div>

                  <div class="pull-right character-sp">{{ cs.skill.get_sp_at_level|commas }} SP</div>
                  <div class="pull-right character-sp">{{ cs.points|commas }} / </div>
                  <div class="pull-right character-sp">Rank {{ cs.skill.rank }}</div>
                </div>
                {% endfor %}
                <div class="margin-half-top">
                  <i class="icon-chevron-right"></i>
                  <strong>{{ css|length }}</strong> skill{{ css|length|pluralize }} trained for <strong>{{ mg.z_total_sp|commas }}</strong> SP</div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endautoescape %}
        </div>
      </div>

{% endblock %}
