{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Home{% endblock %}

{% block extra_head %}
  <script type="text/javascript">
  function toggle_tooltips() {
    $('i').each(function() {
      $this = $(this);
      if ($this.attr('rel') == 'tooltip') {
        $this.tooltip('toggle');
      }
    });
  }
  </script>
{% endblock %}

{% block content %}
    <div class="row-fluid">
      <div class="span12">
        <span><strong>Total Balance:</strong> {{ total_balance|commas }} ISK</span>
        <span class="divider">/</span>
        <span><strong>Total SP:</strong> {{ total_sp|commas }}</span>
        <span class="pull-right"><a href="#" onclick="toggle_tooltips();">Toggle tooltips</a></span>
      </div>
    </div>
    {% for chars in characters|tablecols:4 %}
    <div class="row-fluid">
      {% for character in chars %}
      {% if character %}
      <div class="span3">
        <div class="well-small well{% if character.apikey in not_training %} alert-error{% endif %}">
          <div>
            <span class="large">
              <a href="{% url thing.views.character character.name %}">
                {% if sanitise %}Character Name{% else %}{{ character.name }}{% endif %}
              </a>
            </span>
            <span class="small pull-right">
              [{{ character.z_sanitised_api|default:character.apikey.name }}]
            </span>
          </div>

          <div>
            <span>{{ character.wallet_balance|commas }} ISK</span>
            <span class="small pull-right">
              {{ character.z_total_sp|commas }} SP
            </span>
          </div>

          {% if character.z_training %}
          <div class="margin-half-top">
            <span>{{ character.z_training.sq.skill.item.name }} {{ character.z_training.sq.get_roman_level }}</span>
            <span class="small">(Rank {{ character.z_training.sq.skill.rank }})</span>
            <br>
            <em class="small">{{ character.z_training.skill_duration|shortduration }} @ {{ character.z_training.sp_per_hour }} SP/hr</em>
            {% if character.z_training.queue_duration > character.z_training.skill_duration %}
            <em class="small pull-right">Queue: {{ character.z_training.queue_duration|shortduration }}</em>
            {% endif %}
            <div class="progress progress-striped {% if character.z_training.queue_duration < 86400 %} progress-danger{% endif%}">
              <div class="bar" style="width: {{ character.z_training.complete_per }}%">{{ character.z_training.complete_per }}%</div>
            </div>
          </div>
          {% endif %}

          {% if character.z_notifications %}
          <div class="margin-half-top smaller">
            {% for notif in character.z_notifications %}
            <i class="icon-{{ notif.icon }}" rel="tooltip" title="{{ notif.tooltip }}"></i> {{ notif.text }}
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
    
    {% if corporations %}
    <hr class="nomargin">
    <div class="row-fluid">
      {% for corporation in corporations %}
      <div class="span3">
        <h4>
          {% if sanitise %}corporation.name [corporation.ticker]{% else %}{{ corporation.name }} [{{ corporation.ticker }}]{% endif %}
        </h4>
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr class="l">
              <th>Wallet Division</th>
              <th class="c">Balance</th>
            </tr>
          </thead>
          <tbody>
            {% for wallet in corporation.corpwallet_set.all %}
            <tr>
              <td>{{ wallet.description }}</td>
              <td class="r">{{ wallet.balance|commas }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </ul>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if events %}
    <hr class="nomargin">
    <div class="row-fluid">
      <h4>Event log</h4>
      <ul>
        {% for event in events %}
        <li>{{ event.get_age|duration }} ago <strong>/</strong> {{ event.text|safe }}</li>
        {% endfor %}
      </ul>
      <span><a href="{% url thing.views.events %}">See all</a></span>
    </div>
    {% endif %}
{% endblock %}
