{% extends "base.html" %}
{% import 'macros/common.html' as common %}

{% block title %}Home{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        EVEthing.home.PROFILE.CHAR_COL_SPAN = {{ 12 / profile.home_chars_per_row }};
        EVEthing.home.PROFILE.HOME_CHARS_PER_ROW = {{  profile.home_chars_per_row }};

        EVEthing.home.PROFILE.HOME_SHOW_LOCATIONS = {{ profile.home_show_locations|lower }};
        EVEthing.home.PROFILE.HOME_SHOW_SEPARATORS = {{ profile.home_show_separators|lower }};

        EVEthing.home.PROFILE.HOME_SORT_ORDER = "{{ profile.home_sort_order }}";
        EVEthing.home.PROFILE.HOME_SORT_DESCENDING = {{ profile.home_sort_descending|lower }};
        EVEthing.home.PROFILE.HOME_SORT_EMPTY_QUEUE_LAST = {{ profile.home_sort_empty_queue_last|lower }};

        EVEthing.home.PROFILE.HOME_HIGHLIGHT_BACKGROUNDS = {{ profile.home_highlight_backgrounds|lower }};
        EVEthing.home.PROFILE.HOME_HIGHLIGHT_BORDER = {{ profile.home_highlight_borders|lower }};

        EVEthing.home.HOME_PAGE_UPDATE_DELAY = {{ home_page_update_delay }};

        $(document).ready(EVEthing.home.onload);
    </script>
{% endblock %}

{% block content %}
    <ul class="summary-row nav">
        <li class="title">Totals</li>
        <li>Skill Points: <output name="total_sp"></output></li>
        <li>Wallet: <output name="total_wallet">0.00 ISK</output></li>
        <li>Personal Assets: <output name="personal_assets">0.00 ISK</output></li>
        <li class="corp-totals hide">Corp Assets: <output name="corp_assets">0.00 ISK</output></li>
        <li class="pull-right">
            <i class="js-screenshot clickable icon-picture" title="Screenshot sanitised mode"></i>
        </li>
    </ul>
    <div class="col-sm-12">
        <h4>Event log</h4>
        <ul class="events"></ul>
        <a href="{{ url('thing.views.events') }}">See all</a>
    </diV>
{% endblock %}
