{% extends "base.html" %}
{% load thing_extras %}

{% block extra_js %}
    <script type="text/javascript">
      $(document).ready(function() {
        // Enable linking to a tab with a #location
        var prefix = 'tab_';
        var hash = document.location.hash;
        if (hash) {
          $('.nav-tabs a[href=' + hash.replace(prefix, "") + ']').tab('show');
        }
        
        // Change window hash for page reload
        $('.nav-tabs a').on('shown', function (e) {
          window.location.hash = e.target.hash.replace('#', '#' + prefix);
        });
      });
    </script>
{% endblock %}

{% block title %}Industry Jobs{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span12">
          <h2>Industry Jobs</h2>
          
          <ul class="nav nav-tabs">
            <li class="active"><a href="#incomplete" data-toggle="tab">Incomplete</a></li>
            <li><a href="#complete" data-toggle="tab">Complete</a></li>
          </ul>

          <div class="tab-content">
            {#- incomplete -#}
            <div class="tab-pane active" id="incomplete">
              <div class="span12">
                <table class="table table-striped table-bordered table-condensed" id="incomplete-table">
                  <thead>
                    <tr class="c">
                      <th>Job ID</th>
                      <th>Source</th>
                      <th>Installer</th>
                      <th>Location</th>
                      <th>Type</th>
                      <th>Output</th>
                      <th>Runs</th>
                      <th>Units</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Ready</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for job in incomplete -%}
                    <tr>
                      <td class="industry-jobid">{{ job.job_id }}</td>
                      <td>
                        {% if job.corporation -%}
                        <i class="icons-corporation"></i>
                        [<span class="tip" rel="tooltip" title="{{ job.corporation.name }}">{{ job.corporation.ticker }}</span>]
                        {%- else -%}
                        <i class="icons-player"></i>
                        {{ job.character.name }}
                        {%- endif %}
                      </td>
                      <td>
                        {% if job.z_installer -%}
                        <i class="icons-{% if not job.z_installer_mine %}other-{% endif%}player"></i>
                        {{ job.z_installer }}
                        {%- else -%}
                        Unknown installerID: {{ job.installer_id }}
                        {%- endif %}
                      </td>
                      <td>
                        {% if job.z_station -%}
                        <span class="tip" rel="tooltip" title="{{ job.z_station.name }}">{{ job.z_station.short_name }}</span>
                        {%- else -%}
                        {{ job.system.name }}
                        {%- endif %}
                      </td>
                      <td>{{ job.get_activity_display() }}</td>
                      <td>{{ job.output_item }}</td>
                      <td class="industry-runs">{{ job.runs|commas }}</td>
                      <td class="industry-units">{{ job.z_units|commas }}</td>
                      <td class="journal-date">{{ job.begin_time|date("Y-m-d H:i") }}</td>
                      <td class="journal-date">{{ job.end_time|date("Y-m-d H:i") }}</td>
                      <td class="industry-ready">
                        <i class="icons-{% if job.z_ready %}success{% else %}failure{% endif %}"></i>
                      </td>
                    </tr>
                    {%- endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            {#- complete -#}
            <div class="tab-pane" id="complete">
              <div class="span12">
                <table class="table table-striped table-bordered table-condensed" id="complete-table">
                  <thead>
                    <tr class="c">
                      <th>Job ID</th>
                      <th>Source</th>
                      <th>Installer</th>
                      <th>Location</th>
                      <th>Type</th>
                      <th>Output</th>
                      <th>Runs</th>
                      <th>Units</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for job in complete -%}
                    <tr>
                      <td class="industry-jobid">{{ job.job_id }}</td>
                      <td>
                        {% if job.corporation -%}
                        <i class="icons-corporation"></i>
                        [<span class="tip" rel="tooltip" title="{{ job.corporation.name }}">{{ job.corporation.ticker }}</span>]
                        {%- else -%}
                        <i class="icons-player"></i>
                        {{ job.character.name }}
                        {%- endif %}
                      </td>
                      <td>
                        {% if job.z_installer -%}
                        <i class="icons-{% if not job.z_installer_mine %}other-{% endif%}player"></i>
                        {{ job.z_installer }}
                        {%- else -%}
                        Unknown installerID: {{ job.installer_id }}
                        {%- endif %}
                      </td>
                      <td>
                        {% if job.z_station -%}
                        <span class="tip" rel="tooltip" title="{{ job.z_station.name }}">{{ job.z_station.short_name }}</span>
                        {%- else -%}
                        {{ job.system.name }}
                        {%- endif %}
                      </td>
                      <td>{{ job.get_activity_display() }}</td>
                      <td>{{ job.output_item }}</td>
                      <td class="industry-runs">{{ job.runs|commas }}</td>
                      <td class="industry-units">{{ job.z_units|commas }}</td>
                      <td class="journal-date">{{ job.begin_time|date("Y-m-d H:i") }}</td>
                      <td class="journal-date">{{ job.end_time|date("Y-m-d H:i") }}</td>
                      <td class="industry-status">{{ job.get_completed_status_display() }}</td>
                    </tr>
                    {%- endfor %}
                  </tbody>
                </table>
              </div>            </div>
          </div>
        </div>
      </div>
{% endblock %}
