{% extends "base.html" %}
{% import 'macros/icons.html' as icons %}

{% block extra_js %}
    <script type="text/javascript">$(document).ready(EVEthing.industry.onload);</script>
{% endblock %}

{% block title %}Industry Jobs{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-sm-12">
          <h2>Industry Jobs</h2>
          
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_incomplete" data-toggle="tab">Incomplete</a></li>
            <li><a href="#tab_complete" data-toggle="tab">Complete</a></li>
          </ul>
          <br/>
          <div class="tab-content">
            {#- incomplete -#}
            <div class="tab-pane active" id="tab_incomplete">
              <div class="col-sm-12">
                <table class="table table-striped table-bordered table-condensed" id="incomplete-table">
                  <thead>
                    <tr class="c">
                      <th>Job ID</th>
                      <th>Source</th>
                      <th>Installer</th>
                      <th>Location</th>
                      <th>Type</th>
                      <th>Blueprint</th>
                      <th>Runs</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Ready</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for job in incomplete -%}
                    <tr>
                      <td class="industry-jobid">{{ job.job_id }}</td>
                      <td>
                        {% if job.corporation -%}
                        {{ icons.corporation() }}
                        [<span class="tip" rel="tooltip" title="{{ job.corporation.name }}">{{ job.corporation.ticker }}</span>]
                        {%- else -%}
                        {{ icons.player() }}
                        {{ job.character.name }}
                        {%- endif %}
                      </td>
                      <td>
                        {% if job.z_installer -%}
                        {{ icons.player(job.z_installer_mine) }}
                        {{ job.z_installer }}
                        {%- else -%}
                        Unknown installerID: {{ job.installer_id }}
                        {%- endif %}
                      </td>
                      <td>
                        {% if job.z_station -%}
                        <span class="tip" rel="tooltip" title="{{ job.z_station.name }}">{{ job.z_station.short_name }}</span>
                        {%- else -%}
                        {{ job.system.name }}
                        {%- endif %}
                      </td>
                      <td>{{ job.get_activity_display() }}</td>
                      <td>{{ job.blueprint }}</td>
                      <td class="industry-runs">{{ job.runs|commas }}</td>
                      <td class="journal-date">{{ job.start_date }}</td>
                      <td class="journal-date">{{ job.end_date }}</td>
                      <td class="industry-ready">
                        {{ icons.success_fail(job.z_ready) }}
                      </td>
                    </tr>
                    {%- else %}
                    <tr>
                      <td colspan="13">There are no active industry jobs.</td>
                    </tr>
                    {%- endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            {#- complete -#}
            <div class="tab-pane" id="tab_complete">
              <div class="col-sm-12">
                <table class="table table-striped table-bordered table-condensed" id="complete-table">
                  <thead>
                    <tr class="c">
                      <th>Job ID</th>
                      <th>Source</th>
                      <th>Installer</th>
                      <th>Location</th>
                      <th>Type</th>
                      <th>Output</th>
                      <th>Runs</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for job in complete -%}
                    <tr>
                      <td class="industry-jobid">{{ job.job_id }}</td>
                      <td>
                        {% if job.corporation -%}
                        {{ icons.corporation() }}
                        [<span class="tip" rel="tooltip" title="{{ job.corporation.name }}">{{ job.corporation.ticker }}</span>]
                        {%- else -%}
                        {{ icons.player() }}
                        {{ job.character.name }}
                        {%- endif %}
                      </td>
                      <td>
                        {% if job.z_installer -%}
                        {{ icons.player(job.z_installer_mine) }}
                        {{ job.z_installer }}
                        {%- else -%}
                        Unknown installerID: {{ job.installer_id }}
                        {%- endif %}
                      </td>
                      <td>
                        {% if job.z_station -%}
                        <span class="tip" rel="tooltip" title="{{ job.z_station.name }}">{{ job.z_station.short_name }}</span>
                        {%- else -%}
                        {{ job.system.name }}
                        {%- endif %}
                      </td>
                      <td>{{ job.get_activity_display() }}</td>
                      <td>{{ job.product }}</td>
                      <td class="industry-runs">{{ job.runs|commas }}</td>
                      <td class="journal-date">{{ job.start_date }}</td>
                      <td class="journal-date">{{ job.end_date }}</td>
                      <td class="industry-status">{{ job.get_status_display() }}</td>
                    </tr>
                    {%- else %}
                    <tr>
                      <td colspan="13">No complete jobs</td>
                    </tr>
                    {%- endfor %}
                  </tbody>
                </table>
              </div>            </div>
          </div>
        </div>
      </div>
{% endblock %}
