{% extends "base.html" %}

{% block title %}Market Scan{% endblock %}

{% block extra_head %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#scan-total').text(type_ids.length);
    });
    
    var type_ids = [{{ item_ids|join(',') }}];
    index = 0;
    is_scanning = false;
    delay = 3000;
    
    function start_stop() {
      if (is_scanning) {
        clearInterval(t);
        is_scanning = false;
        $('#scan-button').text('Paused, click to continue');
      }
      else {
        timer_callback();
        t = setInterval("timer_callback()", delay);
        is_scanning = true;
        $('#scan-button').text('Scanning, click to pause');
      }
    }
    
    function timer_callback() {
      if (index >= type_ids.length) {
        index = 0;
        is_scanning = false;
        clearInterval(t);
        $('#scan-button').text('Scan complete, click to restart');
      }
      else {
        CCPEVE.showMarketDetails(type_ids[index]);
        index++;
        $('#scan-done').text(index);
      }
    }
    
    function change_delay(amount) {
      delay += amount;
      if (delay < 3000) {
          delay = 3000;
      }
      if (is_scanning) {
          clearInterval(t);
          t = setInterval("timer_callback()", delay);
      }
      $('#interval').text(delay);
    }
  </script>
{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span12">
          <h3>Market Scan</h3>
          <p>
            This page is used with the <a href="http://goonmetrics.com">Goonmetrics</a> uploader to retrieve
            up-to-date price data for your blueprints, their components, and all of your assets. If you don't
            have any of those this won't do very much :v
          </p>
          <button class="btn btn-primary" id="scan-button" onclick="start_stop();">Scan market</button>
          <button class="btn btn-info btn-small" onclick="change_delay(-500);">-</button>
          <span id="interval">3000</span>ms
          <button class="btn btn-info btn-small" onclick="change_delay(500);">+</button>
          -- Scanned <strong id="scan-done">0</strong> of <strong id="scan-total"></strong>
          <br><br>
        </div>
      </div>
{% endblock %}
