{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Orders{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      $(document).ready(function() {
        // make tooltips appear to the right of icons
        $("[rel=tooltip]").each(function () {
          $(this).data('tooltip').options.placement = 'right';
        });
      });
    </script>
{% endblock %}

{% block content %}
      {% if char_orders %}
      <div class="row-fluid">
        <div class="span8">
          <h2>Character Summary</h2>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr class="c">
                <th>Character</th>
                <th>Avail.</th>
                <th>Total</th>
                <th>Pers.</th>
                <th>Corp.</th>
                <th colspan="2">Sell Orders</th>
                <th colspan="2">Buy Orders</th>
                <th>Escrow</th>
              </tr>
            </thead>
            <tbody>
              {% for row in char_orders.values() %}
              <tr class="r">
                <td class="l">{{ row.name }}</td>
                <td>{{ row.free_slots }}</td>
                <td>{{ row.slots }}</td>
                <td>{{ row.personal_orders }}</td>
                <td>{{ row.corp_orders }}</td>
                <td>{{ row.sell_orders }}</td>
                <td class="pos">{{ row.total_sells|commas }}</td>
                <td>{{ row.buy_orders }}</td>
                <td class="neg">{{ row.total_buys|commas }}</td>
                <td>{{ row.total_escrow|commas }}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr class="r bold">
                <td></td>
                <td>{{ total_row.free_slots }}</td>
                <td>{{ total_row.slots }}</td>
                <td>{{ total_row.personal_orders }}</td>
                <td>{{ total_row.corp_orders }}</td>
                <td>{{ total_row.sell_orders }}</td>
                <td class="pos">{{ total_row.total_sells|commas }}</td>
                <td>{{ total_row.buy_orders }}</td>
                <td class="neg">{{ total_row.total_buys|commas }}</td>
                <td>{{ total_row.total_escrow|commas }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      {% endif %}

      <div class="row-fluid">
        <div class="span12">
          <h2>Active Orders</h2>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr class="c">
                <th>Source</th>
                <th>Station</th>
                <th>Character</th>
                <th>Item</th>
                <th colspan="2">Units</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>Escrow</th>
                <th>Expires</th>
              </tr>
            </thead>
            <tbody>
              {% for order in orders %}
              <tr>
                <td>
                  {% if order.corp_wallet -%}
                  <i class="icons-corporation"></i>
                  [<span class="tip" rel="tooltip" title="{{ order.corp_wallet.corporation.name }}">{{ order.corp_wallet.corporation.ticker }}</span>]
                  {{ order.corp_wallet.description }}
                  {%- else -%}
                  <i class="icons-player"></i>
                  {{ order.character.name }}
                  {%- endif %}
                </td>
                <td>{{ order.station.short_name }}</td>
                <td>
                  {% if order.z_creator_character -%}
                  {{ order.z_creator_character.name }}
                  {%- else -%}
                  Unknown ID: {{ order.creator_character_id }}
                  {%- endif %}
                </td>
                <td>
                  <a href="{% url thing.views.transactions %}?ft=item&fc=eq&fv={{ order.item.name }}">{{ order.item.name }}</a>
                </td>
                <td class="r">{{ order.volume_remaining|humanize }}</td>
                <td class="r">{{ order.volume_entered|humanize }}</td>
                {% if order.buy_order %}
                <td class="r"><span class="neg">{{ order.price|commas }}</span></td>
                <td class="r"><span class="neg">{{ order.total_price|commas }}</span></td>
                {% else %}
                <td class="r"><span class="pos">{{ order.price|commas }}</span></td>
                <td class="r"><span class="pos">{{ order.total_price|commas }}</span></td>
                {% endif %}
                <td class="r">{{ order.escrow|commas }}</td>
                <td class="r">{{ order.z_remaining|shortduration }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="10">No orders are currently active.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
