{% import 'macros/common.html' as common %}
{% import 'macros/icons.html' as icons %}
                    <thead>
                        <tr class="c">
                            <th></th>
                            <th>Skill</th>
                            <th>Group</th>
                            <th>Pri</th>
                            <th>Sec</th>
                            <th>SP/hr</th>
                            <th>Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in entries -%}
                        
                        {% if entry.sp_remap -%}
                        <tr class="c">
                            <td></td>
                            <td class="l" colspan="6">
                                <i class="icon-user"></i> Remap to
                                <strong>{{ entry.sp_remap.int_stat }}</strong> Int /
                                <strong>{{ entry.sp_remap.mem_stat }}</strong> Mem /
                                <strong>{{ entry.sp_remap.per_stat }}</strong> Per /
                                <strong>{{ entry.sp_remap.wil_stat }}</strong> Wil /
                                <strong>{{ entry.sp_remap.cha_stat }}</strong> Cha
                            </td>
                            
                        {%- else %}
                        <tr class="c" data-position="{{ entry.position }}" data-id="{{ entry.id }}" data-skill-id="{{ entry.sp_skill.skill.item.id }}" data-level="{{ entry.sp_skill.level }}" data-parents="{{ entry.z_parents|join(',')}}">
                            <td class="sp-trained">
                            {% if entry.z_training -%}
                                <i class="icon-flag"></i>
                            {%- else -%}
                                {{ icons.success_fail(entry.z_trained) }}
                            {%- endif %}
                            </td>
                            <td class="l{% if entry.z_training %} training-highlight{% endif %}">
                                {{ common.skill_hover(entry.sp_skill.skill, entry.sp_skill.level)}}
                                {% if entry.z_injected -%}
                                <i class="icon-book pull-right" rel="tooltip" title="Skillbook is injected"</i>
                                {%- elif entry.z_buy %}
                                <i class="icon-shopping-cart pull-right" rel="tooltip" title="Skillbook is not injected"</i>
                                {%- endif %}
                            </td>
                            <td class="sp-group">{{ entry.sp_skill.skill.item.item_group }}</td>
                            <td class="sp-small">{{ entry.sp_skill.skill.get_primary_attribute_display() }}</td>
                            <td class="sp-small">{{ entry.sp_skill.skill.get_secondary_attribute_display() }}</td>
                            <td class="sp-small">{{ entry.z_spph|commas }}</td>
                            <td class="r sp-time">{{ entry.z_remaining|duration }}</td>
                        {%- endif %}
                            <td class="skill_entry_handler"><i class="icon-reorder"></i></td>
                        </tr>
                    {%- else %}
                        <tr>
                            <td></td>
                            <td colspan="7">This skill plan is empty.</td>
                        </tr>
                    {%- endfor %}
                    </tbody>
                    {% if entries -%}
                    <tfoot>
                        <tr>
                            <td></td>
                            <td colspan="6" class="r"><strong>Total time remaining</strong>: {{ total_remaining|duration }}</td>
                        </tr>
                    </tfoot>
                    {%- endif %}