{% extends "base.html" %}
{% import 'macros/common.html' as common %}
{% import 'macros/icons.html' as icons %}


{% block extra_js %}
    <script type="text/javascript">
        // current skill popover displayed
        EVEthing.skillplan.addSkillInPlanUrl          = "{{ url('thing.views.skillplan_ajax_add_skill', skillplan.id) }}"
        EVEthing.skillplan.addRemapInPlanUrl          = "{{ url('thing.views.skillplan_ajax_add_remap', skillplan.id) }}"
        EVEthing.skillplan.cleanSkillplanUrl          = "{{ url('thing.views.skillplan_ajax_clean', skillplan.id) }}"
        EVEthing.skillplan.deleteEntryUrl             = "{{ url('thing.views.skillplan_ajax_delete_entry', skillplan.id) }}"
        EVEthing.skillplan.optimizeSkillplanRemapsUrl = "{{ url('thing.views.skillplan_ajax_optimize_remaps', skillplan.id) }}"
        EVEthing.skillplan.importEFTTextBlockUrl      = "{{ url('thing.views.skillplan_ajax_import_eft', skillplan.id) }}"
        EVEthing.skillplan.reorderEntriesUrl          = "{{ url('thing.views.skillplan_ajax_reorder_entry', skillplan.id) }}"
        EVEthing.skillplan.skillPlanEntriesJsonUrl    = "{{ url('thing.views.skillplan_ajax_render_entries', skillplan.id, 88888888888, 77777777777, 66666666666 )  }}"
        $(document).ready(EVEthing.skillplan.onload);
    </script>
{% endblock %}


{% block title %}Edit Skill Plan - {{ skillplan.name }}{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12">
        <h2>Edit Skill Plan - {{ skillplan.name }}</h2>
        
        <ul class="nav nav-tabs" id="skillplan-tab">
            <li class="active"><a href="#tab-skillplan" data-toggle="tab">Skillplan</a></li>
            <li><a href="#tab-eft" data-toggle="tab">EFT Textblock</a></li>
            {#-<li><a href="#tab-items" data-toggle="tab">Item Browser</a></li>
            <li><a href="#tab-ships" data-toggle="tab">Ship Browser</a></li>
            <li><a href="#tab-certificates" data-toggle="tab">Certificate Browser</a></li>-#}
        </ul>

        <div class="tab-content">
        
            {#- skillplan -#}
            <div class="tab-pane active" id="tab-skillplan">
                <div class="row-fluid">
                    <div class="span9">
                        <div class="row-fluid">
                            <div class="span12 form-inline well well-small">
                                <div class="margin-half-bot">
                                    <strong class="large">Skillplan actions</strong>
                                </div>
                                
                                <label class="select">
                                    <select name="character" id="characters">
                                        <option value="-1">New Character (no remap)</option>
                                        {% for character in characters -%}
                                        <option value="{{ character.id }}" {% if selected_character and selected_character.id == character.id %}selected="selected"{% endif %}>{{ character.name }}</option>
                                        {%- endfor %}
                                    </select>
                                </label>
                                &nbsp;
                                <label class="select">
                                    <select name="implants" id="implants">
                                        <option value="0"{% if implants == 0 %} selected{% endif %}>
                                            {% if selected_character %}Character implants{% else %}No implants{% endif %}
                                        </option>
                                        <option value="2"{% if implants == 2 %} selected{% endif %}>+2 implants</option>
                                        <option value="3"{% if implants == 3 %} selected{% endif %}>+3 implants</option>
                                        <option value="4"{% if implants == 4 %} selected{% endif %}>+4 implants</option>
                                        <option value="5"{% if implants == 5 %} selected{% endif %}>+5 implants</option>
                                    </select>
                                </label>
                                &nbsp;
                                <label class="checkbox">
                                    <input type="checkbox" id="show_trained" name="show_trained"{% if show_trained %} checked{% endif %}> Show already trained skills
                                </label>
                                &nbsp;
                                <button id="apply_filter" class="btn btn-primary">Apply</button>
                                <br />
                                <button class="btn btn-primary" id="add_remap">Add Remap</button>
                                <button class="btn btn-success" id="optimize_remap">Optimize Remap</button>
                                <button class="btn btn-danger" id="clean_skillplan">Clean</button>
                            </div>
                        </div>
                        
                        <div class="row-fluid">
                            <div class="span12">
                                <table id="skillplan" class="table table-striped table-bordered table-condensed">
                                    <thead>
                                        <tr class="c">
                                            <th></th>
                                            <th>Skill</th>
                                            <th>Group</th>
                                            <th>Pri</th>
                                            <th>Sec</th>
                                            <th>SP/hr</th>
                                            <th>Time</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="well well-small sidebar-nav" id="skill_list">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-search"></i></span>
                                <input id="searchSkill" type="text" placeholder="Search Skill">
                            </div>
                            {% for market_group, skills in skill_list.items() -%}
                            <ul class="nav nav-list">
                                <li class="nav-header collapsed" data-toggle="collapse" data-parent="#skill_list" data-target=".mg-{{ market_group.id }}">
                                    <i class="icon-folder-open"></i>
                                    {{ market_group.name }}
                                </li>
                                {% for skill in skills -%}
                                <li id="skill-{{ skill.item.id }}" class="mg-{{ market_group.id }} collapse skill" data-name="{{ skill.item.name }}" data-group="{{ market_group.name }}">
                                    <a>
                                        <span class="skill-list-hover {{ extra_class}}" title="{{ skill.item.name }}" id="skill-list-hover-{{ skill.item.id }}" data-id="{{ skill.item.id }}" data-content="
                                            {{ skill }}
                                            <br><br>
                                            <strong>Plan to level:</strong> <br>
                                            <button data-level='1' data-id='{{ skill.item.id }}' class='btn btn-small btn-inverse btn-plan-skill'><strong>I</strong></button>&nbsp;
                                            <button data-level='2' data-id='{{ skill.item.id }}' class='btn btn-small btn-inverse btn-plan-skill'><strong>II</strong></button>&nbsp;
                                            <button data-level='3' data-id='{{ skill.item.id }}' class='btn btn-small btn-inverse btn-plan-skill'><strong>III</strong></button>&nbsp;
                                            <button data-level='4' data-id='{{ skill.item.id }}' class='btn btn-small btn-inverse btn-plan-skill'><strong>IV</strong></button>&nbsp;
                                            <button data-level='5' data-id='{{ skill.item.id }}' class='btn btn-small btn-inverse btn-plan-skill'><strong>V</strong></button>">
                                            {{ skill.item.name }}{% if level %} {{ level|roman }}{% endif %}
                                        </span>
                                    </a>
                                </li>
                                {%- endfor %}  
                            </ul>
                            {%- endfor %}
                        </div>
                    </div>       
                </div>
            </div>

            {#- import eft clipboard -#}
            <div class="tab-pane" id="tab-eft">
                <div class="span12">
                    <div       
                    <div class="well">
                        <div class="margin-half-bot">
                            <strong class="large">Import EFT Textblock</strong>
                        </div>
                        <p>
                            This tab allows you to add skills to your skillplan using an EFT Textblock.
                        </p>
                        <div class="alert alert-success" id="eft-success" style="display:none"></div>
                        <div class="alert alert-error" id="eft-error" style="display:none"></div>
                        <textarea name="eft_textblock" id="eft_textblock" class="span6" rows="15" placeholder="Your EFT Text Block here !"></textarea>
                        <br />
                        <button id="btn-eft-submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
     
            {#- items -#}
            <div class="tab-pane" id="tab-items">
                <div class="span12">
                    <h3>Nothing yet</h3>
                </div>
            </div>
     
            {#- ships -#}
            <div class="tab-pane" id="tab-ships">
                <div class="span12">
                    <h3>Nothing yet</h3>
                </div>
            </div>     
     
            {#- certificates -#}
            <div class="tab-pane" id="tab-certificates">
                <div class="span12">
                    <h3>Nothing yet</h3>
                </div>
            </div>       
        </div>
    </div>
</div>
{% endblock %}

