{% extends "base.html" %}

{% block title %}Trade: {{ timeframe }}{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      $(document).ready(function() {
        $("#trade-table").tablesorter({
          'headers': {
            2: { sorter: 'human' },
            3: { sorter: 'human' },
            4: { sorter: 'human' },
            5: { sorter: 'human' },
            6: { sorter: 'human' },
            //7: { sorter: 'human' },
            8: { sorter: 'human' },
            9: { sorter: 'human' },
            10: { sorter: 'human' },
          },
          'sortList': [[8, 1]],
        });
      });
    </script>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-sm-12">
          <h2>Item Sales for {{ timeframe }}</h2>
          <table id="trade-table" class="table table-striped table-bordered table-condensed small">
            <thead>
              <tr>
                <td colspan="2"></td>
                <td colspan="2" class="head">Buy</td>
                <td colspan="2" class="head">Sell</td>
                <td colspan="3"></td>
                <td colspan="2" class="head">Projected</td>
              </tr>
              <tr class="c">
                <th class="l">Item</th>
                <th class="l">Category</th>
                <th>#</th>
                <th>Total</th>
                <th>#</th>
                <th>Total</th>
                <th>Profit</th>
                <th>P%</th>
                <th>Balance</th>
                <th>Avg</th>
                <th>Diff</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items -%}
              <tr class="r">
                <td class="l">{#<a href="{{ 'thing.views.transactions_item'|url(item.pk, urlpart) }}">#}{{ item.name }}{#</a>#}</td>
                <td class="l">{{ item.item_group.category.name }}</td>
                <td>
                  <a href="#" title="Min: {{ item.t.buy_minimum|humanize }} | Avg: {{ item.t.buy_average|humanize }} | Max: {{ item.t.buy_maximum|humanize }}">
                    {{ item.t.buy_quantity|commas }}
                  </a>
                </td>
                <td>{{ item.t.buy_total|commas }}</td>
                <td>
                  <a href="#" title="Min: {{ item.t.sell_minimum|humanize }} | Avg: {{ item.t.sell_average|humanize }} | Max: {{ item.t.sell_maximum|humanize }}">
                    {{ item.t.sell_quantity|commas }}
                  </a>
                </td>
                <td>{{ item.t.sell_total|commas }}</td>
                <td>{{ item.t.average_profit|commas }}</td>
                <td>{{ item.t.average_profit_per }}%</td>
                <td>{{ item.t.balance|commas|balance|safe }}</td>
                <td>{{ item.t.projected_average|commas|balance|safe }}</td>
                <td>{{ item.t.outstanding|commas|balance|safe }}</td>
              </tr>
              {% else %}
              <tr>
                <td colspan="11">No items have been traded for this time period.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
