{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Trade{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span3">&nbsp;</div>
        <div class="span6">
          <h2>Trade Results</h2>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr class="c">
                <th class="l">Time Period</th>
                <th>Buy Total</th>
                <th>Sell Total</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions -%}
              <tr class="r">
                <td class="l"><a href="{% url thing.views.trade_timeframe transaction.urlpart %}">{{ transaction.name }}</a></td>
                <td>{{ transaction.buy_total|commas }}</td>
                <td>{{ transaction.sell_total|commas }}</td>
                <td>{{ transaction.balance|commas|balance }}</td>
              </tr>
              {%- else -%}
              <tr>
                <td colspan="4">No transactions found.</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
