{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Trade: {{ timeframe }}{% endblock %}

{% block extrahead %}
	<script type="text/javascript">
	$(document).ready(function() {
		// call the tablesorter plugin
		$("table").tablesorter({
			'headers': {
				1: { sorter: 'human' },
				2: { sorter: 'human' },
				3: { sorter: 'human' },
				4: { sorter: 'human' },
				5: { sorter: 'human' },
				6: { sorter: 'human' },
				7: { sorter: 'human' },
				8: { sorter: 'human' },
				9: { sorter: 'human' },
				10: { sorter: 'human' },
				11: { sorter: 'human' },
				13: { sorter: 'human' },
				14: { sorter: 'human' },
			},
			'sortList': [[13,1]],
			'widgets': [ 'zebra' ],
		});
	});
	</script>
{% endblock %}

{% block content %}
<h1>Item Sales for {{ timeframe }}</h1>
<table>
	<tr>
		<th>Total Buys</th>
		<th>Total Sells</th>
		<th>Balance</th>
		<th>Projected</th>
	</tr>
	<tr class="odd">
		<td align="right">{{ total_buys|humanize }}</td>
		<td align="right">{{ total_sells|humanize }}</td>
		<td align="right">{{ total_balance|humanize|balance }}</td>
		<td align="right">{{ total_projected|humanize|balance }}</td>
	</tr>
</table>
<br />
<table class="tablesorter">
	<thead>
		<tr>
			<td></th>
			<td colspan="5" class="head">Buy</th>
			<td colspan="5" class="head">Sell</th>
			<td colspan="4"></th>
		</tr>
		<tr>
			<th>Item</th>
			<th>#</th>
			<th>Min</th>
			<th>Avg</th>
			<th>Max</th>
			<th>Total</th>
			<th>#</th>
			<th>Min</th>
			<th>Avg</th>
			<th>Max</th>
			<th>Total</th>
			<th>Profit</th>
			<th>P%</th>
			<th>Balance</th>
			<th>Projected</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
		<tr>
			<td><a href="{% url evething.thing.views.transactions_item item.item urlpart %}">{{ item.shorter_name }}</a></td>
			<td align="right" class="alt">{{ item.buy_quantity|humanize }}</td>
			<td align="right" class="alt">{{ item.buy_minimum|humanize }}</td>
			<td align="right" class="alt">{{ item.buy_average|humanize }}</td>
			<td align="right" class="alt">{{ item.buy_maximum|humanize }}</td>
			<td align="right" class="alt">{{ item.buy_total|humanize }}</td>
			<td align="right">{{ item.sell_quantity|humanize }}</td>
			<td align="right">{{ item.sell_minimum|humanize }}</td>
			<td align="right">{{ item.sell_average|humanize }}</td>
			<td align="right">{{ item.sell_maximum|humanize }}</td>
			<td align="right">{{ item.sell_total|humanize }}</td>
			<td align="right" class="alt">{{ item.average_profit|humanize }}</td>
			<td align="right" class="alt">{{ item.average_profit_per }}%</td>
			<td align="right">{{ item.balance|humanize|balance }}</td>
			<td align="right">{{ item.projected|humanize|balance }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
