{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Trade: {{ timeframe }}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
$(document).ready(function() {
  $("#trade-table").tablesorter({
    'headers': {
      2: { sorter: 'human' },
      3: { sorter: 'human' },
      4: { sorter: 'human' },
      5: { sorter: 'human' },
      6: { sorter: 'human' },
      //7: { sorter: 'human' },
      8: { sorter: 'human' },
      9: { sorter: 'human' },
      10: { sorter: 'human' },
    },
    'sortList': [[8, 1]],
  });
});
</script>
{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span1">&nbsp;</div>
        <div class="span10">
          <h2>Item Sales for {{ timeframe }}</h2>
          <table id="trade-table" class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <td colspan="2"></td>
                <td colspan="2" class="head">Buy</td>
                <td colspan="2" class="head">Sell</td>
                <td colspan="3"></td>
                <td colspan="2" class="head">Projected</td>
              </tr>
              <tr class="c">
                <th class="l">Item</th>
                <th class="l">Cat</th>
                <th>#</th>
                <th>Total</th>
                <th>#</th>
                <th>Total</th>
                <th>Profit</th>
                <th>P%</th>
                <th>Balance</th>
                <th>Avg</th>
                <th>Diff</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr class="r">
                <td class="l"><a href="{% url thing.views.transactions_item item.pk urlpart %}">{{ item.name }}</a></td>
                <td class="l">{{ item.cat_name }}</td>
                <td>
                  <a href="#" title="Min: {{ item.buy_minimum|humanize }} | Avg: {{ item.buy_average|humanize }} | Max: {{ item.buy_maximum|humanize }}">
                    {{ item.buy_quantity|humanize }}
                  </a>
                </td>
                <td>{{ item.buy_total|humanize }}</td>
                <td>
                  <a href="#" title="Min: {{ item.sell_minimum|humanize }} | Avg: {{ item.sell_average|humanize }} | Max: {{ item.sell_maximum|humanize }}">
                    {{ item.sell_quantity|humanize }}
                  </a>
                </td>
                <td>{{ item.sell_total|humanize }}</td>
                <td>{{ item.z_average_profit|humanize }}</td>
                <td>{{ item.z_average_profit_per }}%</td>
                <td>{{ item.balance|humanize|balance }}</td>
                <td>{{ item.z_projected_average|humanize|balance }}</td>
                <td>{{ item.z_outstanding_average|humanize|balance }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="11">No items have yet been traded.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}
