{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Transactions{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      // template provided variables
      var expected = $.parseJSON('{{ json_expected|safe }}');

      var data = {};
      data['char'] = {};
      {% for char in values.chars %}data['char'][{{ char.id }}] = '{{ char.name }}';{% endfor %}
      data['corp'] = {};
      {% for corp in values.corps %}data['corp'][{{ corp.id }}] = '{{ corp.name }}';{% endfor %}

      // add provided filters
      $('#filters').empty();
      {% for ft, fcfvs in filters.items() %}
      {% for fc, fv in fcfvs %}
      $('#filters').append(filter_build(expected, data, '{{ ft }}', '{{ fc }}', '{{ fv }}'));
      {% endfor %}
      {% else %}
      $('#filters').append(filter_build(expected));
      {% endfor %}

      // add query string to pagination links
      var search = document.location.search;
      $('a').each(function() {
        var href = $(this).attr('href');
        if (href !== undefined && href.substr(0, 5) === '?page') {
          var params = parseParams(search.substring(1));
          params.page = href.split(/=/)[1];
          $(this).attr('href', '?' + $.param(params));
        }
      });

      // click event for add icon
      $('.icons-add').on('click', function() {
        $('#filters').append(filter_build(expected));
      });

      // click event for delete icon
      $('#filters').on('click', '.icons-delete', function() {
        $(this).parent().remove();
      });

      // change event for filter-type selects
      $('#filters').on('change', '.filter-type', function () {
        var $ft = $(this);
        // clear any other select/input in this line
        $ft.siblings('select, input').remove();
        // add the comparison box
        $ft.parent().append(filter_build_comp(expected, $ft.val(), undefined));
        // add the value box
        var $fc = $ft.next();
        $ft.parent().append(filter_build_value(data, $ft.val(), $fc.val(), ''));
      });
    </script>
{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span12">
          <h2>Transactions</h2>
          
          <form id="filter-form" class="well well-small" action="{% url thing.views.transactions %}" method="GET">
            <div class="margin-half-bot">
              <strong class="large">Filters</strong>
              <i class="icons-add"></i>
            </div>
            <fieldset id="filters">
            </fieldset>
            <fieldset>
              {#<div class="control-group">
                <input type="checkbox" name="ignoreself" class="input-small">
                Ignore transactions between my own characters
              </div>#}
            </fieldset>
            <button type="submit" class="btn btn-success">Apply filters</button>
            <a id="clear-button" href="{% url thing.views.transactions %}" class="btn btn-danger">Clear filters</a>
          </form>

          <div class="pagination pagination-centered">
            <ul>
              {% if prev %}
              <li><a href="?page={{ prev.0 }}">&laquo;</a></li>
              {% for p in prev %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
              {% else %}
              <li class="disabled"><a href="#">&laquo;</a></li>
              {% endif %}
              <li class="active"><a href="#">{{ paginated.number }}</a></li>
              {% if next %}
              {% for n in next %}<li><a href="?page={{ n }}">{{ n }}</a></li>{% endfor %}
              <li><a href="?page={{ next.0 }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><a href="#">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>

          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
              <tr class="c">
                <th>Date</th>
                <th>Station</th>
                <th>Character</th>
                <th>Corp</th>
                <th>Client</th>
                <th>Item</th>
                <th>#</th>
                <th>Unit</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions -%}
              <tr>
                <td class="c">{{ transaction.date|date("Y-m-d H:i") }}</td>
                <td>{{ transaction.station.short_name }}</td>
                <td>{{ transaction.character.name }}</td>
                <td class="c">{% if transaction.corp_wallet %}{{ transaction.corp_wallet.corporation.ticker }}{% endif %}</td>
                <td>
                  {% if transaction.other_char -%}
                  <i class="icons-other-player"></i> {{ transaction.other_char.name }}
                  {%- elif transaction.other_corp -%}
                  <i class="icons-corporation"></i> {{ transaction.other_corp.name }}
                  {%- endif %}
                </td>
                <td>
                  {% if show_item_icons -%}
                  <img src="http://image.eveonline.com/Type/{{ transaction.item.id }}_32.png" height="20" width="20">
                  {%- endif %}
                  <a href="{{ 'transactions-all'|url(transaction.item.id, 'all') }}">{{ transaction.item }}</a>
                </td>
                <td class="r">{{ transaction.quantity|humanize }}</td>
                {% if transaction.buy_transaction -%}
                <td class="r"><span class="neg">-{{ transaction.price|commas }}</span></td>
                <td class="r"><span class="neg">-{{ transaction.total_price|commas }}</span></td>
                {%- else -%}
                <td class="r"><span class="pos">+{{ transaction.price|commas }}</span></td>
                <td class="r"><span class="pos">+{{ transaction.total_price|commas }}</span></td>
                {%- endif %}
              </tr>
              {%- else -%}
              <tr>
                <td colspan="9">No matching transactions.</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
          <div class="pagination pagination-centered">
            <ul>
              {% if prev %}
              <li><a href="?page={{ prev.0 }}">&laquo;</a></li>
              {% for p in prev %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
              {% else %}
              <li class="disabled"><a href="#">&laquo;</a></li>
              {% endif %}
              <li class="active"><a href="#">{{ paginated.number }}</a></li>
              {% if next %}
              {% for n in next %}<li><a href="?page={{ n }}">{{ n }}</a></li>{% endfor %}
              <li><a href="?page={{ next.0 }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><a href="#">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
{% endblock %}
