{% extends "base.html" %}
{% import 'macros/icons.html' as icons %}

{% block title %}Transactions{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      // template provided variables
      var data = $.parseJSON('{{ json_data|safe }}');
      EVEthing.filters.data = data.values;
      EVEthing.filters.expected = data.expected;
      EVEthing.transactions.filters = data.filters;

      EVEthing.transactions.onload();
    </script>
{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span12">
          <h2>Transactions</h2>
          
          <form id="filter-form" class="well well-small" action="{{ url('thing.views.transactions') }}" method="GET">
            <div class="margin-half-bot">
              <strong class="large">Filters</strong>
            </div>
            <p>
              Apply filters to the results here. Filters of different types are queried using AND while filters of
              the same type are queried using OR, for example "Character == Bob, Item == Pants, Item == Hats" will
              turn into something like "WHERE Character == Bob AND (Item == Pants OR Item == Hats)".
            </p>
            <fieldset id="filters">
            </fieldset>
            <button type="submit" class="btn btn-success">Apply filters</button>
            <a id="clear-button" href="{{ url('thing.views.transactions') }}" class="btn btn-danger">Clear filters</a>
          </form>

          <div class="pagination pagination-centered">
            <ul>
              {% if prev %}
              <li><a href="?page={{ prev.0 }}">&laquo;</a></li>
              {% for p in prev %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
              {% else %}
              <li class="disabled"><a href="#">&laquo;</a></li>
              {% endif %}
              <li class="active"><a href="#">{{ paginated.number }}</a></li>
              {% if next %}
              {% for n in next %}<li><a href="?page={{ n }}">{{ n }}</a></li>{% endfor %}
              <li><a href="?page={{ next.0 }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><a href="#">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>

          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
              <tr class="c">
                <th>Date/Time</th>
                <th>Source</th>
                <th>Station</th>
                <th>Client</th>
                <th>Item</th>
                <th>#</th>
                <th>Unit</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions -%}
              <tr>
                <td class="journal-date">{{ transaction.date }}</td>
                <td>
                  {% if transaction.corp_wallet -%}
                  {{ icons.corporation() }}
                  [<span class="tip" rel="tooltip" title="{{ transaction.corp_wallet.corporation.name }}">{{ transaction.corp_wallet.corporation.ticker }}</span>]
                  {{ transaction.corp_wallet.description }}
                  {%- else -%}
                  {{ icons.player() }}
                  {{ transaction.character.name }}
                  {%- endif %}
                </td>
                <td>
                  <span class="tip" rel="tooltip" title="{{transaction.station.name }}">{{ transaction.station.short_name }}</span>
                </td>
                <td>
                  {% if transaction.other_char -%}
                  {{ icons.player() }}
                  <a href="?{{ transaction.z_client_filter }}">{{ transaction.other_char.name }}</a>
                  {%- elif transaction.other_corp -%}
                  {{ icons.corporation() }}
                  <a href="?{{ transaction.z_client_filter }}">{{ transaction.other_corp.name }}</a>
                  {%- endif %}
                </td>
                <td>
                  {% if show_item_icons -%}
                  <img src="http://image.eveonline.com/Type/{{ transaction.item.id }}_32.png" height="20" width="20">
                  {%- endif %}
                  <a href="?{{ transaction.z_item_filter }}">{{ transaction.item }}</a>
                </td>
                <td class="r">{{ transaction.quantity|humanize }}</td>
                {% if transaction.buy_transaction -%}
                <td class="journal-amount neg">-{{ transaction.price|commas }}</td>
                <td class="journal-amount neg">-{{ transaction.total_price|commas }}</td>
                {%- else -%}
                <td class="journal-amount pos">+{{ transaction.price|commas }}</td>
                <td class="journal-amount pos">+{{ transaction.total_price|commas }}</td>
                {%- endif %}
              </tr>
              {%- else -%}
              <tr>
                <td colspan="9">No matching transactions.</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
          <div class="pagination pagination-centered">
            <ul>
              {% if prev %}
              <li><a href="?page={{ prev.0 }}">&laquo;</a></li>
              {% for p in prev %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
              {% else %}
              <li class="disabled"><a href="#">&laquo;</a></li>
              {% endif %}
              <li class="active"><a href="#">{{ paginated.number }}</a></li>
              {% if next %}
              {% for n in next %}<li><a href="?page={{ n }}">{{ n }}</a></li>{% endfor %}
              <li><a href="?page={{ next.0 }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><a href="#">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
{% endblock %}
