{% extends "base.html" %}
{% load thing_extras %}

{% block title %}Transactions{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      // template provided variables
      var expected = $.parseJSON('{{ json_expected|safe }}');

      var data = {};
      data['char'] = {};
      {% for char in values.chars %}data['char'][{{ char.id }}] = '{{ char.name }}';{% endfor %}
      data['corp'] = {};
      {% for corp in values.corps %}data['corp'][{{ corp.id }}] = '{{ corp.name }}';{% endfor %}

      // add provided filters
      $('#filters').empty();
      {% for ft, fcfvs in filters.items() %}
      {% for fc, fv in fcfvs %}
      $('#filters').append(filter_build(expected, data, '{{ ft }}', '{{ fc }}', '{{ fv }}'));
      {% endfor %}
      {% else %}
      $('#filters').append(filter_build(expected));
      {% endfor %}

      // add query string to pagination links
      var search = document.location.search;
      $('a').each(function() {
        var href = $(this).attr('href');
        if (href !== undefined && href.substr(0, 5) === '?page') {
          var params = parseQueryString();
          params.page = href.split(/=/)[1];
          $(this).attr('href', '?' + $.param(params));
        }
      });

      // click event for add icon
      $('.icons-add').on('click', function() {
        $('#filters').append(filter_build(expected));
      });

      // click event for delete icon
      $('#filters').on('click', '.icons-delete', function() {
        $(this).parent().remove();
      });

      // change event for filter-type selects
      $('#filters').on('change', '.filter-type', function () {
        var $ft = $(this);
        // clear any other select/input in this line
        $ft.siblings('select, input').remove();
        // add the comparison box
        $ft.parent().append(filter_build_comp(expected, $ft.val(), undefined));
        // add the value box
        var $fc = $ft.next();
        $ft.parent().append(filter_build_value(data, $ft.val(), $fc.val(), ''));
      });
    </script>
{% endblock %}

{% block content %}
      <div class="row-fluid">
        <div class="span12">
          <h2>Transactions</h2>
          
          <form id="filter-form" class="well well-small" action="{% url thing.views.transactions %}" method="GET">
            <div class="margin-half-bot">
              <strong class="large">Filters</strong>
              <i class="icons-add"></i>
            </div>
            <p>
              Apply filters to the results here. Filters of different types are queried using AND while filters of
              the same type are queried using OR, for example "Character == Bob, Item == Pants, Item == Hats" will
              turn into something like "WHERE Character == Bob AND (Item == Pants OR Item == Hats)".
            </p>
            <fieldset id="filters">
            </fieldset>
            <fieldset>
              {#<div class="control-group">
                <input type="checkbox" name="ignoreself" class="input-small">
                Ignore transactions between my own characters
              </div>#}
            </fieldset>
            <button type="submit" class="btn btn-success">Apply filters</button>
            <a id="clear-button" href="{% url thing.views.transactions %}" class="btn btn-danger">Clear filters</a>
          </form>

          <div class="pagination pagination-centered">
            <ul>
              {% if prev %}
              <li><a href="?page={{ prev.0 }}">&laquo;</a></li>
              {% for p in prev %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
              {% else %}
              <li class="disabled"><a href="#">&laquo;</a></li>
              {% endif %}
              <li class="active"><a href="#">{{ paginated.number }}</a></li>
              {% if next %}
              {% for n in next %}<li><a href="?page={{ n }}">{{ n }}</a></li>{% endfor %}
              <li><a href="?page={{ next.0 }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><a href="#">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>

          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
              <tr class="c">
                <th>Date/Time</th>
                <th>Source</th>
                <th>Station</th>
                <th>Client</th>
                <th>Item</th>
                <th>#</th>
                <th>Unit</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in transactions -%}
              <tr>
                <td class="journal-date">{{ transaction.date|date("Y-m-d H:i") }}</td>
                <td>
                  {% if transaction.corp_wallet -%}
                  <i class="icons-corporation"></i>
                  [<span class="tip" rel="tooltip" title="{{ transaction.corp_wallet.corporation.name }}">{{ transaction.corp_wallet.corporation.ticker }}</span>]
                  {{ transaction.corp_wallet.description }}
                  {%- else -%}
                  <i class="icons-player"></i>
                  {{ transaction.character.name }}
                  {%- endif %}
                </td>
                <td>
                  <span class="tip" rel="tooltip" title="{{transaction.station.name }}">{{ transaction.station.short_name }}</span>
                </td>
                <td>
                  {% if transaction.other_char -%}
                  <i class="icons-other-player"></i>
                  <a href="?{{ transaction.z_client_filter }}">{{ transaction.other_char.name }}</a>
                  {%- elif transaction.other_corp -%}
                  <i class="icons-corporation"></i>
                  <a href="?{{ transaction.z_client_filter }}">{{ transaction.other_corp.name }}</a>
                  {%- endif %}
                </td>
                <td>
                  {% if show_item_icons -%}
                  <img src="http://image.eveonline.com/Type/{{ transaction.item.id }}_32.png" height="20" width="20">
                  {%- endif %}
                  {#<a href="{{ 'transactions-all'|url(transaction.item.id, 'all') }}">{{ transaction.item }}</a>#}
                  <a href="?{{ transaction.z_item_filter }}">{{ transaction.item }}</a>
                </td>
                <td class="r">{{ transaction.quantity|humanize }}</td>
                {% if transaction.buy_transaction -%}
                <td class="journal-amount neg">-{{ transaction.price|commas }}</td>
                <td class="journal-amount neg">-{{ transaction.total_price|commas }}</td>
                {%- else -%}
                <td class="journal-amount pos">+{{ transaction.price|commas }}</td>
                <td class="journal-amount pos">+{{ transaction.total_price|commas }}</td>
                {%- endif %}
              </tr>
              {%- else -%}
              <tr>
                <td colspan="9">No matching transactions.</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
          <div class="pagination pagination-centered">
            <ul>
              {% if prev %}
              <li><a href="?page={{ prev.0 }}">&laquo;</a></li>
              {% for p in prev %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
              {% else %}
              <li class="disabled"><a href="#">&laquo;</a></li>
              {% endif %}
              <li class="active"><a href="#">{{ paginated.number }}</a></li>
              {% if next %}
              {% for n in next %}<li><a href="?page={{ n }}">{{ n }}</a></li>{% endfor %}
              <li><a href="?page={{ next.0 }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><a href="#">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
{% endblock %}
