{% extends "base.html" %}
{% import 'macros/icons.html' as icons %}

{% block title %}Wallet Journal{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
      $(document).ready(function() {
        var data = $.parseJSON('{{ json_data|safe }}');
        EVEthing.filters.data = data.values;
        EVEthing.filters.expected = data.expected;
        EVEthing.wallet_journal.filters = data.filters;

        EVEthing.wallet_journal.onload();
      });
    </script>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-sm-12">
          <h2>Wallet Journal</h2>

          {% include 'includes/wallet_journal_filters.html' %}

          <strong>Balance for this filter set</strong>: {{ total_amount|default('0.00')|commas }} ISK
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="pagination-centered">
            <ul class="pagination">
              {% if prev %}
              <li><a href="?page={{ prev.0 }}">&laquo;</a></li>
              {% for p in prev %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
              {% else %}
              <li class="disabled"><a href="#">&laquo;</a></li>
              {% endif %}
              <li class="active"><a href="#">{{ paginated.number }}</a></li>
              {% if next %}
              {% for n in next %}<li><a href="?page={{ n }}">{{ n }}</a></li>{% endfor %}
              <li><a href="?page={{ next.0 }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><a href="#">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
          <table class="table table-striped table-bordered table-condensed table-hover">
            <thead>
              <tr class="c">
                <th>Date/Time</th>
                <th>Source</th>
                <th>RefType</th>
                <th>Owner 1</th>
                <th>Owner 2</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% set show_item_icons = user.profile.show_item_icons -%}
              {% for entry in entries -%}
              <tr>
                <td class="journal-date moment" title="{{ entry.date }}">{{ entry.date }}</td>
                <td>
                  {% if entry.corp_wallet -%}
                  {#<span class="fa fa-group"></span>#}
                  {{ icons.corporation() }}
                  [<span class="tip" rel="tooltip" title="{{ entry.corp_wallet.corporation.name }}">{{ entry.corp_wallet.corporation.ticker }}</span>]
                  {{ entry.corp_wallet.description }}
                  {%- else -%}
                  {#<span class="fa fa-user"></span>#}
                  {{ icons.player() }}
                  {{ entry.character.name }}
                  {% endif %}
                </td>
                <td>
                  <a href="?{{ entry.z_reftype_filter }}">{{ entry.z_reftype }}</a>
                </td>
                <td>
                  {% if entry.z_owner1_char -%}
                  {{ icons.player(entry.z_owner1_mine) }}
                  <a href="?{{ entry.z_owner1_filter }}">{{ entry.z_owner1_char }}</a>
                  {%- elif entry.z_owner1_corp -%}
                  {{ icons.corporation() }}
                  {% if entry.z_owner1_corp.ticker -%}
                  [<span class="tip" rel="tooltip" title="{{ entry.z_owner1_corp.name }}"><a href="?{{ entry.z_owner1_filter }}">{{ entry.z_owner1_corp.ticker }}</a></span>]
                  {%- else -%}
                  <a href="?{{ entry.z_owner1_filter }}">{{ entry.z_owner1_corp.name }}</a>
                  {%- endif %}
                  {%- elif entry.z_owner1_alliance -%}
                  {{ icons.alliance() }}
                  <a href="?{{ entry.z_owner1_filter }}">{{ entry.z_owner1_alliance }}</a>
                  {%- elif entry.owner1_id > 0 -%}
                  Unknown ID: {{ entry.owner1_id }}
                  {%- endif %}
                </td>
                <td>
                  {% if entry.z_owner2_char -%}
                  {{ icons.player(entry.z_owner2_mine) }}
                  <a href="?{{ entry.z_owner2_filter }}">{{ entry.z_owner2_char }}</a>
                  {%- elif entry.z_owner2_corp -%}
                  {{ icons.corporation() }}
                  {% if entry.z_owner2_corp.ticker -%}
                  [<span class="tip" rel="tooltip" title="{{ entry.z_owner2_corp.name }}"><a href="?{{ entry.z_owner2_filter }}">{{ entry.z_owner2_corp.ticker }}</a></span>]
                  {%- else -%}
                  <a href="?{{ entry.z_owner2_filter }}">{{ entry.z_owner2_corp.name }}</a>
                  {%- endif %}
                  {%- elif entry.z_owner2_alliance -%}
                  {{ icons.alliance() }}
                  <a href="?{{ entry.z_owner2_filter }}">{{ entry.z_owner2_alliance }}</a>
                  {%- elif entry.owner2_id > 0 -%}
                  Unknown ID: {{ entry.owner2_id }}
                  {%- endif %}
                </td>
                <td class="journal-amount">
                  {% if entry.amount >= 0 -%}
                  <span class="pos">+{{ entry.amount|commas }}</span>
                  {%- else -%}
                  <span class="neg">{{ entry.amount|commas }}</span>
                  {%- endif %}
                </td>
                <td class="journal-balance">{{ entry.balance|commas }}</td>
                <td>
                  {% if entry.z_hover -%}
                  <span class="skill-hover" rel="popover" title="Pirates Killed" data-content="{{ entry.z_hover|replace('||', '<br>') }}" data-placement="left">
                    {{ entry.z_description }}
                  </span>
                  {%- else -%}
                  {{ entry.z_description }}
                  {%- endif %}
                </td>
              </tr>
              {%- else -%}
              <tr>
                <td colspan="7">No matching journal entries.</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
          <div class="pagination-centered">
            <ul class="pagination">
              {% if prev %}
              <li><a href="?page={{ prev.0 }}">&laquo;</a></li>
              {% for p in prev %}<li><a href="?page={{ p }}">{{ p }}</a></li>{% endfor %}
              {% else %}
              <li class="disabled"><a href="#">&laquo;</a></li>
              {% endif %}
              <li class="active"><a href="#">{{ paginated.number }}</a></li>
              {% if next %}
              {% for n in next %}<li><a href="?page={{ n }}">{{ n }}</a></li>{% endfor %}
              <li><a href="?page={{ next.0 }}">&raquo;</a></li>
              {% else %}
              <li class="disabled"><a href="#">&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
{% endblock %}
