<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico">
    {% if user.is_authenticated() -%}
    {%- with user.get_profile() as profile -%}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/theme-{{ profile.theme }}.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sprite-icons-{{ profile.icon_theme }}.css">
    {%- endwith -%}
    {%- else -%}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/theme-default.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sprite-icons-default.css">
    {%- endif %}
    <title>EVEthing: {% block title %}{% endblock %}</title>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url home %}">EVEthing</a>
          <div class="nav-collapse collapse">
            <ul class="nav" id="nav-list">
              {% if user.is_authenticated() -%}
              {%- with user.get_profile() as profile -%}
              {% if profile.show_assets %}<li><a href="{% url thing.views.assets %}">Assets</a></li>{% endif %}
              {% if profile.show_blueprints %}<li><a href="{% url thing.views.blueprints %}">Blueprints</a></li>{% endif %}
              {% if profile.show_contracts %}<li><a href="{% url thing.views.contracts %}">Contracts</a></li>{% endif %}
              {% if profile.show_industry %}<li><a href="{% url thing.views.industry %}">Industry</a></li>{% endif %}
              {% if profile.show_orders %}<li><a href="{% url thing.views.orders %}">Orders</a></li>{% endif %}
              {% if profile.show_trade %}<li><a href="{% url thing.views.trade %}">Trade</a></li>{% endif %}
              {% if profile.show_transactions %}<li><a href="{% url thing.views.transactions %}">Transactions</a></li>{% endif %}
              {% if profile.show_wallet_journal %}<li><a href="{% url thing.views.wallet_journal %}">Wallet Journal</a></li>{% endif %}
              {% if profile.show_market_scan -%}
              <li class="divider-vertical visible-desktop"></li>
              <li class="visible-desktop"><a href="{% url thing.views.market_scan %}">Market Scan</a></li>
              {%- endif -%}
              {%- endwith -%}
              {%- endif %}
            </ul>

            <ul class="nav pull-right">
              {% if user.is_authenticated() -%}
              {%- with user.get_profile() as profile -%}
              <li class="navbar-text visible-desktop"{% if not profile.show_clock %} style="display: none"{% endif %}>
                <span id="utc-time"></span> EVE
              </li>
              {%- endwith -%}
              {%- endif %}
              {% if user.is_authenticated() -%}
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                  {{ user.username }}
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url thing.views.account %}">Account Management</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url thing.views.events %}">Event log</a></li>
                  <li class="divider"></li>
                  {% if user.is_staff -%}
                  <li><a href="{% url admin:index %}">Site Administration</a></li>
                  <li class="divider"></li>
                  {%- endif %}
                  <li><a href="{% url auth_logout %}">Logout</a>
                </ul>
              </li>
              {%- else -%}
              <li>
                <a href="{% url auth_login %}">Login</a>
              </li>
              {%- endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid" id="container">
      {% block content %}{% endblock %}
      <hr class="nomargin">
      <footer class="small">
        <p>
          <a href="https://github.com/madcowfred/evething/tree/develop#readme">EVEthing</a> &copy; Freddie (EVE: Tazuki Falorn) 2012-2013
          <span class="pull-right">
            Fugue icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>
            <span class="divider">/</span>
            Silk icons by <a href="http://famfamfam.com/lab/icons/silk/">Mark James</a>
          </span>
        </p>
      </footer>
    </div>

    <script src="{{ STATIC_URL }}js/evething.min.js"></script>
    {%- block extra_js %}{% endblock %}
  </body>
</html>
