<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/evething.js"></script>
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/theme-default.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/evething.css" />
    <title>EVEthing: {% block title %}{% endblock %}</title>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="https://github.com/madcowfred/evething">EVEthing</a>
          <div class="nav-collapse">
            <ul class="nav" id="nav-list">
              <li><a href="{% url home %}"><i class="icon-home icon-white"></i>Home</a></li>
            </ul>

            <ul class="nav pull-right">
              <li class="navbar-text">
                <a href="{% url auth_login %}">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid" id="container">
      {% block content %}{% endblock %}
      <hr class="nomargin">
      <footer>
        <p>&copy; Freddie 2012</p>
      </footer>
    </div>
  </body>
</html>
