<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/theme-default.min.css" />
    <title>EVEthing: {% block title %}{% endblock %}</title>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url thing.views.home %}">EVEthing</a>
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li>
                <a href="{% url auth_login %}">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid" id="container">
      {% block content %}{% endblock %}
      <hr class="nomargin">
      <footer class="small">
        <p>
          <a href="https://github.com/madcowfred/evething/tree/develop#readme">EVEthing</a> &copy; Freddie (EVE: Tazuki Falorn) 2012-2013
          <span class="pull-right">
            Oink.
          </span>
        </p>
      </footer>
    </div>

    <script src="{{ STATIC_URL }}js/evething.min.js"></script>
  </body>
</html>
