<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/theme-default.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/evething.js"></script>
    <title>EVEthing: {% block title %}{% endblock %}</title>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="https://github.com/madcowfred/evething/tree/develop#readme">EVEthing</a>
          <div class="nav-collapse">
            <ul class="nav" id="nav-list">
              <li><a href="{% url home %}">Home</a></li>
            </ul>

            <p class="navbar-text pull-right">
              <a href="{% url auth_login %}">Login</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container-fluid" id="container">
      {% block content %}{% endblock %}
      <hr class="nomargin">
      <footer class="small">
        <p>
          &copy; Freddie (EVE: Tazuki Falorn) 2012
          <span class="pull-right">
            Fugue icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>
            <span class="divider">/</span>
            Silk icons by <a href="http://famfamfam.com/lab/icons/silk/">Mark James</a>
          </span>
        </p>
      </footer>
    </div>
  </body>
</html>
