<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2"><div class="row well">
  <form action="{{ url('thing.views.account_change_password') }}" method="POST" class="form-horizontal">
    <fieldset>
      {{ csrf() }}
      <div class="form-group">
        <label class="col-sm-2" for="old_password">Old password</label>
        <div class="col-sm-10">
          <input type="password" name="old_password" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="new_password">New password</label>
        <div class="col-sm-10">
          <input type="password" name="new_password" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="confirm_password">Confirm password</label>
        <div class="col-sm-10">
          <input type="password" name="confirm_password" class="form-control" />
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Change password</button>
      </div>
    </fieldset>
  </form>
</div></div>
