
  <form action="{{ url('thing.views.account_change_password') }}" method="POST" class="form-horizontal">
    <fieldset>
      {{ csrf() }}
      <div class="control-group">
        <label class="control-label" for="old_password">Old password</label>
        <div class="controls">
          <input type="password" name="old_password">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="new_password">New password</label>
        <div class="controls">
          <input type="password" name="new_password">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="confirm_password">Confirm password</label>
        <div class="controls">
          <input type="password" name="confirm_password">
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Change password</button>
      </div>
    </fieldset>
  </form>