  <form action="{{ url('thing.views.account_settings') }}" method="POST" class="form form-horizontal">
      {{ csrf() }}
      <div class="form-group">
        <label class="col-sm-2" for="theme">Theme</label>
        <div class="col-sm-10">
          <select name="theme" class="form-control">
            {%- for value, display in themes %}
            <option value="{{ value }}"{% if profile.theme == value %} selected{% endif %}>{{ display }}</option>
            {%- endfor %}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="show_clock">Show EVE clock</label>
        <label class="col-sm-10">
          <input type="checkbox" name="show_clock" id="show_clock" {% if profile.show_clock %} checked{% endif %}>
        </label>
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="show_checkboxes">Show sections</label>
        <div class="col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="show_assets"{% if profile.show_assets %} checked{% endif %} />Assets
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="show_blueprints"{% if profile.show_blueprints %} checked{% endif %} />Blueprints
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="show_contracts"{% if profile.show_contracts %} checked{% endif %} />Contracts
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="show_industry"{% if profile.show_industry %} checked{% endif %} />Industry
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="show_orders"{% if profile.show_orders %} checked{% endif %} />Orders
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="show_trade"{% if profile.show_trade %} checked{% endif %} />Trade
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="show_transactions"{% if profile.show_transactions %} checked{% endif %} />Transactions
            </label>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="show_wallet_journal"{% if profile.show_wallet_journal %} checked{% endif %} />Wallet Journal
            </label>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label class="col-sm-2" for="show_item_icons">Show item icons</label>
        <div class="col-sm-10">
          <label class="checkbox">
            <input type="checkbox" name="show_item_icons"{% if profile.show_item_icons %} checked{% endif %}>
          </label>
          <p class="help-block">Displays 20x20 item icons in various relevant places</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2" for="entries_per_page">Entries per page</label>
        <div class="col-sm-10">
          <select name="entries_per_page" class="form-control">
            {%- for n in (100, 200, 300, 400, 500) %}
            <option value="{{ n }}"{% if n == profile.entries_per_page %} selected{% endif %}>{{ n }}</option>
            {%- endfor %}
          </select>
          <p class="help-block">Transactions, Wallet Journal, etc.</p>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
  </form>