# make a copy of this file as local_settings.py and edit that
import settings

# switch this to True if you want to see crash information
# NEVER LEAVE THIS ON FOR A PUBLIC SITE
DEBUG = False

# database configuration
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# change this to the public facing directory for static files, needed for
# 'manage.py collectstatic' to work
STATIC_ROOT = '/www/evething.home/static'
# override the default '/static/' for static files
#STATIC_URL = 'http://static.evething.home'

# API host to use, change this if you have an API proxy handy
API_HOST = 'https://api.eveonline.com'
# number of api_updater threads to use (simultaneous requests)
API_THREADS = 4

# IP addresses that will see some extra DEBUG info
INTERNAL_IPS = (
    '127.0.0.1',
    '192.168.1.20',
)

# Disable the password tab if you are using different auth
DISABLE_ACCOUNT_PASSWORD = False

# AMQP broker URL
BROKER_URL = 'amqp://guest:guest@localhost:5672/'
