# make a copy of this as local_settings.py and edit that
import settings

DEBUG = False
#DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

MEDIA_ROOT = '/home/freddie/source/python/evething/media'

INTERNAL_IPS = (
    '127.0.0.1',
    '192.168.1.20',
)

# API host to use, change this if you have an API proxy to use
API_HOST = 'https://api.eveonline.com'
# number of api_updater threads to start (simultaneous requests)
API_THREADS = 4
