{% extends "base.html" %}
{% load rdi_extras %}

{% block title %}RDSI: Blueprints{% endblock %}

{% block nav-blueprints %}<strong class="nav-active">Blueprints</strong>{% endblock %}

{% block content %}
{% if bpis %}
	<form action="/blueprints/" method="GET">
	<table>
		<tr>
			<td>Runs :</td>
			<td><input type="text" name="runs" value="{{ runs }}"></td>
			<td><input type="submit" value="Go"></td>
		</tr>
	</table>
	</form>
	
	<table>
		<tr>
			<th>Owner</th>
			<th>Blueprint</th>
			<th>ML</th>
			<th>PL</th>
			<th>#</th>
			<th>Time</th>
			<th>Unit (Buy)</th>
			<th>Unit (Sell)</th>
			<th>Market Price</th>
			<th>Jita</th>
		</tr>
		{% for bpi in bpis %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td>{{ bpi.character }}</td>
			<td><a href="{{ bpi.id }}">{{ bpi.blueprint }}</a></td>
			<td align="center">{{ bpi.material_level }}</td>
			<td align="center">{{ bpi.productivity_level }}</td>
			<td align="right">{{ bpi.count }}</td>
			<td align="right">{{ bpi.production_time|duration }}</td>
			<td align="right">{{ bpi.unit_cost_buy|humanize }}</td>
			<td align="right">{{ bpi.unit_cost_sell|humanize }}</td>
			<td align="right">{{ bpi.market_price|humanize }}</td>
			<td><a href="http://www.eve-central.com/home/quicklook.html?typeid={{ bpi.blueprint.item.id }}&usesystem=30000142">EC</a></td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No blueprint instances are available.</p>
{% endif %}
{% endblock %}
