{% extends "base.html" %}
{% load rdi_extras %}

{% block title %}Rubber Ducky Space Industries: Finances{% endblock %}

{% block nav-finances %}<strong class="nav-active">Finances</strong>{% endblock %}

{% block content %}
<h1>{{ corporation.name }}</h1>
<table>
	<tr>
		<th colspan=2>Quick Overview</th>
	</tr>
	<tr class="odd">
		<td>Wallet:</td>
		<td align="right">{{ wallet_balance|humanize }}</td>
	</tr>
	<tr class="even">
		<td>Sell Orders:</td>
		<td align="right">{{ sell_total|humanize }}</td>
	</tr>
	<tr class="odd">
		<td>Buy Orders:</td>
		<td align="right">{{ buy_total|humanize }}</td>
	</tr>
	<tr class="even">
		<td>Escrow:</td>
		<td align="right">{{ escrow_total|humanize }}</td>
	</tr>
	<tr class="odd">
		<td><b>Net Asset Value</b>:</td>
		<td align="right">{{ net_asset_value|humanize }}</td>
	</tr>
</table>
<br>
{% autoescape off %}
<table>
	<tr>
		<th></th>
		<th><a href="{% url everdi.rdi.views.finances_timeframe 'day' %}">Day</a></th>
		<th><a href="{% url everdi.rdi.views.finances_timeframe 'week' %}">Week</a></th>
		<th><a href="{% url everdi.rdi.views.finances_timeframe 'month' %}">Month</a></th>
		<th><a href="{% url everdi.rdi.views.finances_timeframe 'all' %}">All</a></th>
	</tr>
	<tr class="odd">
		<td>Buy Total</td>
		<td align="right">{{ 1day_buy_total|commas }}</td>
		<td align="right">{{ 7day_buy_total|commas }}</td>
		<td align="right">{{ 30day_buy_total|commas }}</td>
		<td align="right">{{ 9999day_buy_total|commas }}</td>
	</tr>
	<tr class="even">
		<td>Sell Total</td>
		<td align="right">{{ 1day_sell_total|commas }}</td>
		<td align="right">{{ 7day_sell_total|commas }}</td>
		<td align="right">{{ 30day_sell_total|commas }}</td>
		<td align="right">{{ 9999day_sell_total|commas }}</td>
	</tr>
	<tr class="odd">
		<td>Balance</td>
		<td align="right"{{ 1day_class }}>{{ 1day_balance|commas }}</td>
		<td align="right"{{ 7day_class }}>{{ 7day_balance|commas }}</td>
		<td align="right"{{ 30day_class }}>{{ 30day_balance|commas }}</td>
		<td align="right"{{ 9999day_class }}>{{ 9999day_balance|commas }}</td>
	</tr>
</table>
{% endautoescape %}
{% endblock %}
