{% extends "base.html" %}
{% load rdi_extras %}

{% block title %}Rubber Ducky Space Industries: Finances{% endblock %}

{% block content %}
<h1>Item Sales for last {{ timeframe }}</h1>
<table class="tablesorter">
	<thead>
		<tr>
			<th></th>
			<th colspan="5">Buy</th>
			<th colspan="5">Sell</th>
			<th colspan="3"></th>
		</tr>
		<tr>
			<th>Item</th>
			<th>#</th>
			<th>Min</th>
			<th>Avg</th>
			<th>Max</th>
			<th>Total</th>
			<th>#</th>
			<th>Min</th>
			<th>Avg</th>
			<th>Max</th>
			<th>Total</th>
			<th colspan="2">Avg Profit</th>
			<th>Balance</th>
			<th>Projected</th>
		</tr>
	</thead>
	<tbody>
		{% autoescape off %}
		{% for item in items %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td><a href="{% url everdi.rdi.views.transactions_item timeframe item.item.id %}">{{ item.item.shorter_name }}</a></td>
			<td align="right" class="alt">{{ item.buy_quantity|humanize }}</td>
			<td align="right" class="alt">{{ item.buy_minimum|humanize }}</td>
			<td align="right" class="alt">{{ item.buy_average|humanize }}</td>
			<td align="right" class="alt">{{ item.buy_maximum|humanize }}</td>
			<td align="right" class="alt">{{ item.buy_total|humanize }}</td>
			<td align="right">{{ item.sell_quantity|humanize }}</td>
			<td align="right">{{ item.sell_minimum|humanize }}</td>
			<td align="right">{{ item.sell_average|humanize }}</td>
			<td align="right">{{ item.sell_maximum|humanize }}</td>
			<td align="right">{{ item.sell_total|humanize }}</td>
			<td align="right" class="alt">{{ item.average_profit|humanize }}
			<td align="right" class="alt">{{ item.average_profit_per }}%</td>
			<td align="right"{{ item.balance_class }}>{{ item.balance|humanize }}</td>
			<td align="right"{{ item.projected_class }}>{{ item.projected|humanize }}</td>
		</tr>
		{% endfor %}
		{% endautoescape %}
	</tbody>
</table>
{% endblock %}
