{% extends "base.html" %}
{% load rdi_extras %}

{% block title %}Rubber Ducky Space Industries: Transactions: {{ item }}{% endblock %}

{% block content %}
<h1>Item Sales for {{ item }} for the last {{ days }} days.</h1>
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Station</th>
			<th>Type</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<th>Total Price</th>
		</tr>
	</thead>
	<tbody>
		{% autoescape off %}
		{% for transaction in transactions %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td class="{{ transaction.t_type }}">{{ transaction.date|date:"Y-m-d H:i" }}</td>
			<td class="{{ transaction.t_type }}">{{ transaction.station.shorter_name }}</td>
			<td class="{{ transaction.t_type }}">{{ transaction.get_t_type_display }}</td>
			<td class="{{ transaction.t_type }}" align="right">{{ transaction.quantity|humanize }}</td>
			<td class="{{ transaction.t_type }}" align="right">{{ transaction.price|humanize }}</td>
			<td class="{{ transaction.t_type }}" align="right">{{ transaction.total_price|humanize }}</td>
		</tr>
		{% endfor %}
		{% endautoescape %}
	</tbody>
</table>
{% endblock %}
